@use '../../assets/styles' as *;

.summary-card-container {
	@include ellipsis();
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 124px;
	height: 110px;
	padding: $spacing-4x $spacing-2x;
	border: solid 1px kv-color('neutral-4');
	border-radius: 4px;

	.label,
	.subtitle,
	.description {
		user-select: none;
		transition: all 0.5s ease-out;
	}

	.label {
		@include body-m-semibold();
		margin-bottom: $spacing;
		color: kv-color('text');

		&.number {
			@include heading-m-semibold();
		}
	}

	.subtitle {
		@include body-m-regular();
		color: kv-color('text');
	}

	.description {
		@include body-s-regular();
		color: kv-color('text', 'step-3');
	}

	&.loading {
		.label,
		.subtitle,
		.description {
			height: 12px;
		}

		.label {
			margin-top: 6px;
			width: 36px;
		}

		.subtitle {
			margin-top: 14px;
			width: 60px;
		}

		.description {
			margin-top: 3px;
			width: 70px;
		}
	}
}

.loading {
	.label,
	.subtitle,
	.description {
		@include ghost-animation(kv-color('neutral-7'));
	}
}
