@import '../../assets/styles/globals';
@import './tree-item.base';

:host {
	--connector-lines-color: #{kv-color('primary')};

	--background-color-default: #{kv-color('neutral-0')};
	--background-color-focused: #{kv-color('primary', 'base', 0.1)};
	--background-color-disabled: #{kv-color('neutral-1')};
	--background-color-highlighted: #{kv-color('primary', 'base', 0.1)};

	--border-color-default: #{kv-color('neutral-3')};
	--border-color-disabled: #{kv-color('neutral-3')};
	--border-color-selected: #{kv-color('neutral-3')};
	--border-color-highlighted: #{kv-color('neutral-3')};

	--icon-color-default: #{kv-color('neutral-3')};
	--icon-color-disabled: #{kv-color('neutral-3')};
	--icon-color-selected: #{kv-color('primary')};
	--icon-color-no-filled: #{kv-color('neutral-3')};

	--title-color-default: #{kv-color('text')};
	--title-color-disabled: #{kv-color('text', 'step-6')};
	--title-color-selected: #{kv-color('text')};
	--title-color-no-filled: #{kv-color('text', 'step-5')};

	--sub-title-color-default: #{kv-color('text', 'step-5')};
	--sub-title-color-disabled: #{kv-color('text', 'step-6')};
	--sub-title-color-no-filled: #{kv-color('text', 'step-5')};
}

.node-loading {
	@include ghost-animation('neutral-2');
}
