@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --select-list-max-height: Select list maximum height.
	 * @prop --select-list-min-height: Select list minimum height.
	 * @prop --select-list-max-width: Select list maximum width.
	 * @prop --select-list-min-width: Select list minimum width.
	 */
	--select-list-max-height: 400px;
	--select-list-min-height: auto;
	--select-list-max-width: auto;
	--select-list-min-width: max-content;
}

kv-select {
	--select-max-height: var(--select-list-max-height);
	--select-min-height: var(--select-list-min-height);
	--select-max-width: var(--select-list-max-width);
	--select-min-width: var(--select-list-min-width);
}

.select-header-label {
	overflow: hidden;
	max-width: 110px;
}


.selected-items-label {
	@include ellipsis;
	@include kv-font-label-small-regular;
	color: kv-color('neutral-6');
	text-wrap: nowrap;
}

.counter {
	display: flex;
	align-items: center;
	color: kv-color('neutral-5');
	@include kv-font-label-xsmall-regular;
}

.create-new-option-container {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
	border: 1px solid kv-color('neutral-3');
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	background: kv-color('neutral-0', 'base', 0.95);
	z-index: 1;

	&.has-shortcuts .create-new-option-form {
		bottom: 36px;
		border-bottom: 1px solid kv-color('neutral-3');
	}
}

.form-container {
	background: kv-color('neutral-0');
	padding: $spacing-3x $spacing-4x;
}

.create-new-option-form {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid kv-color('neutral-3');
}

.create-new-option-button {
	border-top: 1px solid kv-color('neutral-3');
	padding: $spacing-3x 0;
}

.no-results-found,
.no-data-available {
	display: flex;
	flex-direction: column;

	.illustration-message {
		max-width: 292px;
		padding: $spacing-8x $spacing-3x;
		align-self: center;
	}
}
