@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --select-list-max-height: Select list maximum height.
	 * @prop --select-list-min-height: Select list minimum height.
	 * @prop --select-list-max-width: Select list maximum width.
	 * @prop --select-list-min-width: Select list minimum width.
	 */
	--select-list-max-height: 400px;
	--select-list-min-height: auto;
	--select-list-max-width: auto;
	--select-list-min-width: auto;
}

.no-data {
	pointer-events: none;
	padding: $spacing-3x 0;
}

kv-select {
	--select-max-height: var(--select-list-max-height);
	--select-min-height: var(--select-list-min-height);
	--select-max-width: var(--select-list-max-width);
	--select-min-width: var(--select-list-min-width);
}

.selected-items-label {
	@include kv-font-label-small-regular;
	color: kv-color('neutral-4');
	text-wrap: nowrap;
}

.counter {
	display: flex;
	align-items: center;
	color: kv-color('neutral-4');
	@include kv-font-label-xsmall-regular;
}
