@use '../../assets/styles' as *;

$tab-height: 34px;

:host {
	/**
	 * @prop --tab-list-bg-color: Background color of the list.
	 * @prop --tab-list-indicator-color: Tab indicator bar color.
	 * @prop --tab-list-divider-color: Tab divider bar color.
	 * @prop --secondary-tab-list-direction: Flex direction of the secondary tab list.
	 * @prop --secondary-items-align: Alignment of secondary tab items.
	 */
	--tab-list-bg-color: transparent;
	--tab-list-indicator-color: var(--tab-primary-border-color-selected);
	--tab-list-divider-color: var(--tab-primary-border-color-default);
	--secondary-tab-list-direction: row;
	--secondary-items-align: center;

	.primary {
		position: relative;
		width: 100%;
		display: flex;
		background-color: var(--tab-list-bg-color);

		&::before {
			content: '';
			width: 100%;
			position: absolute;
			bottom: 0;
			border-bottom: var(--tab-primary-border-thickness-default) solid var(--tab-list-divider-color);
		}

		.selected-tab-indicator {
			height: var(--tab-primary-border-thickness-strong);
			position: absolute;
			bottom: 0;
			transition: all 0.3s ease-out;
			background: var(--tab-list-indicator-color);
		}
	}
	
	.secondary {
		display: flex;
		gap: var(--spacing-xl);
		align-items: var(--secondary-items-align);
		flex-direction: var(--secondary-tab-list-direction);
	}

	kv-badge {
		--badge-height: var(--size-md);
	}

	kv-tag-status {
		--tag-status-icon-size: var(--size-md);
	}
}
