@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --button-split-height-large: Split button height when size is large.
	 * @prop --button-split-height-small: Split button height when size is size.
	 * @prop --button-split-padding-x-large: Split button horizontal padding when size is large.
	 * @prop --button-split-padding-x-small: Split button horizontal padding when size is size.
	 * @prop --button-split-icon-width: Split button icon width.
	 * @prop --button-split-icon-height: Split button icon height.
	 */

	--button-split-height-large: var(--button-height-regular);
	--button-split-height-small: var(--button-height-compact);
	--button-split-padding-x-large: var(--icon-button-padding-x-regular);
	--button-split-padding-y-large: var(--icon-button-padding-y-regular);
	--button-split-padding-x-small: var(--icon-button-padding-x-compact);
	--button-split-padding-y-small: var(--icon-button-padding-y-compact);
	--button-split-icon-width: var(--icon-button-primary-icon-size-regular);
	--button-split-icon-height: var(--icon-button-primary-icon-size-regular);
}

.action-button-split {
	display: flex;
	align-items: center;

	&:hover {
		kv-action-button-text::part(button) {
			border-right-color: transparent;
		}

		kv-action-button::part(button) {
			border-left-color: transparent;
		}
	}
}

kv-action-button-text::part(button) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-width: 0.5px;
}

kv-action-button::part(button) {
	--button-height-large: var(--button-split-height-large);
	--button-height-small: var(--button-split-height-small);
	--button-padding-x-large: var(--button-split-padding-x-large);
	--button-padding-y-large: var(--button-split-padding-y-large);
	--button-padding-x-small: var(--button-split-padding-x-small);
	--button-padding-y-small: var(--button-split-padding-y-small);

	display: flex;

	margin-left: -1px;

	border-left-width: 0.5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

kv-icon {
	--icon-width: var(--button-split-icon-width);
	--icon-height: var(--button-split-icon-width);
}
