@use '../../assets/styles' as *;

:host {
	/**
	* @prop --height-default: The height of the text area when is not focused.
	* @prop --height-active: The height of the text are when is focused.
	*/
	--height-default: var(--text-area-height-default, 36px);
	--height-active: 100px;
}

.text-area-container {
	display: flex;
	gap: var(--text-area-gap-default);
	align-items: flex-start;

	kv-icon {
		--icon-color: var(--text-area-icon-color-default);
		--icon-width: var(--text-area-icon-size-default);
		--icon-height: var(--text-area-icon-size-default);

		margin-top: var(--text-area-gap-default);
	}

	.text-area {
		@include kelvin-scrollbar;

		display: flex;
		flex-direction: column;
		flex: 1;
		gap: var(--spacing-md);

		.text-area-wrapper {
			padding: var(--text-area-padding-y-default) var(--text-area-padding-x-default);
			border: var(--text-area-border-thickness-default) solid var(--text-area-border-color-default);
			border-radius: var(--text-area-radius-default);
			height: var(--height-default);
			overflow: auto;
			transition: height 0.25s ease-in-out;

			.input {
				@include body-m-regular;
				outline: none;
				height: inherit;
				color: var(--text-area-text-default);
				overflow-wrap: anywhere;

				&.placeholder::before {
					content: attr(data-placeholder);
				}
			}

			&.has-text {
				height: var(--height-active);
				border-color: var(--text-area-border-color-filled);

				.input {
					color: var(--text-area-text-filled);
				}
			}

			&:hover {
				border-color: var(--text-area-border-color-hover);

				.input {
					color: var(--text-area-text-hover);
				}
			}

			&:has(.input:focus) {
				border-color: var(--text-area-border-color-selected);

				.input {
					color: var(--text-area-text-selected);
				}
			}

			&:hover:not(:has(.input:focus)) {
				cursor: pointer;
			}
		}

		&:has(.input:focus) .character-counter {
			display: block;
		}

		.character-counter {
			@include body-s-regular;
			color: var(--text-area-helper-text-default);
			margin-left: var(--spacing-xl);
			display: none;
		}
	}

	&.disabled .text-area .text-area-wrapper {
		border-color: var(--border-interactive-input-disabled);

		.input {
			color: var(--text-interactive-input-disabled);
		}

		&:hover:not(:has(.input:focus)) {
			cursor: not-allowed;
		}
	}
}
