@use '../../assets/styles' as *;

$relative-time-picker-height: 347px;
$relative-time-picker-width: 328px;
$absolute-time-picker-height: 377px;
$absolute-time-picker-width: 448px;
$full-view-height: 347px;
$full-view-width: 779px;

.time-range-content {
	background-color: var(--background-container-elevated-slider);
	border: 1px solid var(--slider-border-color-default);
	border-radius: var(--radius-md);
	width: max-content;

	.content-wrapper {
		position: relative;
		display: flex;
		overflow: hidden;
		transition: all 0.3s ease-in-out;

		&--relative {
			height: $relative-time-picker-height;
			width: $relative-time-picker-width;
		}

		&--absolute {
			height: $absolute-time-picker-height;
			width: $absolute-time-picker-width;
		}

		&--full-view {
			height: $full-view-height;
			width: $full-view-width;
		}
	}

	.relative-range {
		position: absolute;

		kv-relative-time-picker {
			--background-color: transparent;
		}

		&--full-view {
			border-right: 1px solid var(--slider-border-color-default);
		}
	}

	.calendar-range {
		position: absolute;
		right: -$absolute-time-picker-width;
		z-index: 1;
		transition: all 0.3s ease-in-out;
		background-color: var(--background-container-elevated-slider);
		border-top-right-radius: var(--radius-md);
		border-top-left-radius: var(--radius-md);

		&--visible {
			right: 0;
		}

		&--full-view {
			right: 0;
		}
	}

	kv-absolute-time-picker {
		.absolute-time-picker-container {
			background-color: transparent;
		}
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: var(--spacing-2xl);
	border-top: 1px solid var(--slider-border-color-default);

	.toggle-wrapper {
		display: flex;
	}

	.show-calendar-toggle {
		display: flex;
		gap: var(--spacing-md);
		align-items: center;

		.toggle-text {
			@include body-s-regular;
			color: var(--text-surface-neutral-tertiary);
		}
	}

	.actions {
		display: flex;
		gap: var(--spacing-md);
	}
}
