@import '../../assets/styles/globals';

$relative-time-picker-height: 347px;
$relative-time-picker-width: 328px;
$absolute-time-picker-height: 377px;
$absolute-time-picker-width: 448px;
$full-view-height: 347px;
$full-view-width: 779px;

.time-range-content {
	background-color: kv-color('neutral-7');
	border: 1px solid kv-color('neutral-6');
	border-radius: 4px;
	width: max-content;

	.content-wrapper {
		position: relative;
		display: flex;
		overflow: hidden;
		transition: all 0.3s ease-in-out;

		&--relative {
			height: $relative-time-picker-height;
			width: $relative-time-picker-width;
		}

		&--absolute {
			height: $absolute-time-picker-height;
			width: $absolute-time-picker-width;
		}

		&--full-view {
			height: $full-view-height;
			width: $full-view-width;
		}
	}

	.relative-range {
		position: absolute;

		kv-relative-time-picker {
			--background-color: transparent;
		}

		&--full-view {
			border-right: 1px solid kv-color('neutral-6');
		}
	}

	.calendar-range {
		position: absolute;
		right: -$absolute-time-picker-width;
		z-index: 1;
		transition: all 0.3s ease-in-out;
		background-color: kv-color('neutral-7');
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;

		&--visible {
			right: 0;
		}

		&--full-view {
			right: 0;
		}
	}

	kv-absolute-time-picker {
		.absolute-time-picker-container {
			background-color: transparent;
		}
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: $spacing-4x;
	border-top: 1px solid kv-color('neutral-6');

	.toggle-wrapper {
		display: flex;
	}

	.show-calendar-toggle {
		display: flex;
		gap: $spacing-2x;
		align-items: center;

		.toggle-text {
			@include kv-font-span-regular;
			color: kv-color('neutral-2');
		}
	}

	.actions {
		display: flex;
		gap: $spacing-2x;
	}
}
