@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --button-height-small: toggle button component's height when size is small.
	 * @prop --button-height-large: toggle button component's height when size is large.
	 * @prop --button-padding-small: toggle button component's padding when size is small.
	 * @prop --button-padding-large: toggle button component's padding when size is large.
	 * @prop --button-icon-width-small: toggle button component's icon width when size is small.
	 * @prop --button-icon-width-large: toggle button component's icon width when size is large.
	 * @prop --button-icon-height-small: toggle button component's icon height when size is small.
	 * @prop --button-icon-height-large: toggle button component's icon height when size is large.
	 * @prop --text-color-default: toggle button component's text color default.
	 * @prop --text-color-active: toggle button component's text color active.
	 * @prop --text-color-disabled: toggle button component's text color disabled.
	 * @prop --text-color-disabled-active: toggle button component's text color when disabled and active.
	 * @prop --icon-color-default: toggle button component's icon color default.
	 * @prop --icon-color-active: toggle button component's icon color active.
	 * @prop --icon-color-disabled: toggle button component's icon color disabled.
	 * @prop --icon-color-disabled-active: toggle button component's icon color when disabled and active.
	 * @prop --background-color-default: toggle button component's background color default.
	 * @prop --background-color-active: toggle button component's background color active.
	 * @prop --background-color-disabled: toggle button component's background color disabled.
	 * @prop --background-color-disabled-active: toggle button component's background color when disabled and active.
	 * @prop --border-size: toggle button component's border size.
	 * @prop --border-left-size: toggle button component's left border size.
	 * @prop --border-right-size: toggle button component's right border size.
	 * @prop --border-color-default: toggle button component's border color default.
	 * @prop --border-color-active: toggle button component's border color active.
	 * @prop --border-color-disabled: toggle button component's border color disabled.
	 * @prop --border-color-disabled-active: toggle button component's border color when disabled and active.
	 * @prop --border-radius-top-left: toggle button component's top-left border radius.
	 * @prop --border-radius-bottom-left: toggle button component's bottom-left border radius.
	 * @prop --border-radius-top-right: toggle button component's top-right border radius.
	 * @prop --border-radius-bottom-right: toggle button component's bottom-right border radius.
	 */

	--button-height-large: var(--toggle-height-regular);
	--button-height-small: var(--toggle-height-compact);
	--button-width: fit-content;

	--button-padding-large: #{var(--spacing-none) var(--toggle-padding-x-default)};
	--button-padding-small: #{var(--spacing-none) var(--toggle-padding-x-default)};
	
	--button-icon-height-large: var(--toggle-icon-size-default);
	--button-icon-height-small: var(--toggle-icon-size-default);
	--button-icon-width-large: var(--toggle-icon-size-default);
	--button-icon-width-small: var(--toggle-icon-size-default);

	--text-color-default: var(--toggle-text-off);
	--text-color-active: var(--toggle-text-on);
	--text-color-disabled: var(--toggle-text-disabled);
	--text-color-disabled-active: var(--toggle-text-disabled);

	--icon-color-default: var(--toggle-icon-color-off);
	--icon-color-active: var(--toggle-icon-color-on);
	--icon-color-disabled: var(--toggle-icon-color-disabled);
	--icon-color-disabled-active: var(--toggle-icon-color-disabled);

	--background-color-default: var(--transparent);
	--background-color-active: var(--toggle-background-on);
	--background-color-disabled: var(--transparent);
	--background-color-disabled-active: var(--toggle-background-disabled);

	--border-size: var(--toggle-border-thickness-default);
	--border-left-size: var(--toggle-border-thickness-default);
	--border-right-size: var(--toggle-border-thickness-default);
	--border-color-default: var(--toggle-border-color-off);
	--border-color-active: var(--toggle-border-color-on);
	--border-color-disabled: var(--toggle-border-color-disabled);
	--border-color-disabled-active: var(--toggle-border-color-disabled);

	--border-radius-top-left: var(--toggle-radius-default);
	--border-radius-bottom-left: var(--toggle-radius-default);
	--border-radius-top-right: var(--toggle-radius-default);
	--border-radius-bottom-right: var(--toggle-radius-default);
}

kv-tooltip::part(content) {
	width: var(--button-width);
}

.toggle-button {
	display: inline-flex;
	align-items: center;
	gap: var(--spacing-md);
	border-top-left-radius: var(--border-radius-top-left);
	border-bottom-left-radius: var(--border-radius-bottom-left);
	border-top-right-radius: var(--border-radius-top-right);
	border-bottom-right-radius: var(--border-radius-bottom-right);
	border: var(--border-size) solid var(--border-color-default);
	border-left-width: var(--border-left-size);
	border-right-width: var(--border-right-size);
	text-decoration: none;
	box-sizing: border-box;
	background: var(--background-color-default);
	color: var(--text-color-default);
	height: var(--button-height-large);
	padding: var(--button-padding-large);
	width: var(--button-width);

	@include body-m-regular;
	@include clickable;

	.toggle-button-icon kv-icon {
		--icon-color: var(--icon-color-default);
		--icon-width: var(--button-icon-width-large);
		--icon-height: var(--button-icon-height-large);
	}

	&--checked {
		border-left-width: var(--border-size);
		border-right-width: var(--border-size);
		border-color: var(--border-color-active);
		background: var(--background-color-active);
		color: var(--text-color-active);

		.toggle-button-icon kv-icon {
			--icon-color: var(--icon-color-active);
		}
	}

	&--disabled {
		@include non-clickable;

		border-color: var(--border-color-disabled);
		background: var(--background-color-disabled);
		color: var(--text-color-disabled);

		&.toggle-button--checked {
			border-color: var(--border-color-disabled-active);
			background: var(--background-color-disabled-active);
			color: var(--text-color-disabled-active);
		}

		.toggle-button-icon kv-icon {
			--icon-color: var(--icon-color-disabled);
		}
	}

	&--size-small {
		padding: var(--button-padding-small);
		height: var(--button-height-small);

		&.toggle-button--only-icon {
			justify-content: center;

			.toggle-button-icon kv-icon {
				--icon-width: var(--button-icon-width-small);
				--icon-height: var(--button-icon-height-small);
			}
		}
	}

	&--only-icon {
		justify-content: center;

		.toggle-button-icon kv-icon {
			--icon-width: var(--button-icon-width-large);
			--icon-height: var(--button-icon-height-large);
		}
	}
}
