@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --button-height-small: toggle button component's height when size is small.
	 * @prop --button-height-large: toggle button component's height when size is large.
	 * @prop --button-padding-small: toggle button component's padding when size is small.
	 * @prop --button-padding-large: toggle button component's padding when size is large.
	 * @prop --button-icon-width-small: toggle button component's icon width when size is small.
	 * @prop --button-icon-width-large: toggle button component's icon width when size is large.
	 * @prop --button-icon-height-small: toggle button component's icon height when size is small.
	 * @prop --button-icon-height-large: toggle button component's icon height when size is large.
	 * @prop --text-color-default: toggle button component's text color default.
	 * @prop --text-color-active: toggle button component's text color active.
	 * @prop --text-color-disabled: toggle button component's text color disabled.
	 * @prop --background-color-default: toggle button component's background color default.
	 * @prop --background-color-active: toggle button component's background color active.
	 * @prop --background-color-disabled: toggle button component's background color disabled.
	 * @prop --border-color-default: toggle button component's border color default.
	 * @prop --border-color-active: toggle button component's border color active.
	 * @prop --border-color-disabled: toggle button component's border color disabled.
	 */

	--button-height-large: 36px;
	--button-height-small: 28px;
	--button-padding-large: #{$spacing-2x $spacing-4x};
	--button-padding-small: #{$spacing $spacing-3x};
	--button-icon-height-large: 24px;
	--button-icon-height-small: 16px;
	--button-icon-width-large: 24px;
	--button-icon-width-small: 16px;

	--text-color-default: #{kv-color('neutral-2')};
	--text-color-active: #{kv-color('neutral-0')};
	--text-color-disabled: #{kv-color('neutral-5')};
	--background-color-default: #{kv-color('neutral-6')};
	--background-color-active: #{kv-color('neutral-6')};
	--background-color-disabled: #{kv-color('neutral-7')};
	--border-color-default: #{kv-color('neutral-6')};
	--border-color-active: #{kv-color('neutral-0')};
	--border-color-disabled: #{kv-color('neutral-6')};
	--border-radius-top-left: 2px;
	--border-radius-bottom-left: 2px;
	--border-radius-top-right: 2px;
	--border-radius-bottom-right: 2px;
}

.toggle-button {
	@include kv-font-span-regular;

	position: relative;
	user-select: none;
	text-decoration: none;
	cursor: pointer;
	box-sizing: border-box;

	display: inline-flex;
	align-items: center;
	gap: $spacing-2x;
	border-top-left-radius: var(--border-radius-top-left);
	border-bottom-left-radius: var(--border-radius-bottom-left);
	border-top-right-radius: var(--border-radius-top-right);
	border-bottom-right-radius: var(--border-radius-bottom-right);
	border: 1px solid var(--border-color-default);
	background: var(--background-color-default);
	color: var(--text-color-default);
	height: var(--button-height-large);
	padding: var(--button-padding-large);

	.toggle-button-icon kv-icon {
		--icon-color: var(--text-color-default);
		--icon-width: 16px;
		--icon-height: 16px;
		width: 16px;
		height: 16px;
	}

	&--checked {
		border: 1px solid var(--border-color-active);
		background: var(--background-color-active);
		color: var(--text-color-active);

		.toggle-button-icon kv-icon {
			--icon-color: var(--text-color-active);
		}
	}

	&--disabled {
		cursor: not-allowed;
		pointer-events: none;

		border: 1px solid var(--border-color-disabled);
		background: var(--background-color-disabled);
		color: var(--text-color-disabled);

		.toggle-button-icon kv-icon {
			--icon-color: var(--text-color-disabled);
		}
	}

	&--size-small {
		@include kv-font-label-small-regular;
		padding: var(--button-padding-small);
		height: var(--button-height-small);

		&.toggle-button--only-icon {
			width: var(--button-height-small);
			justify-content: center;

			.toggle-button-icon kv-icon {
				--icon-width: var(--button-icon-width-small);
				--icon-height: var(--button-icon-height-small);
				width: var(--button-icon-width-small);
				height: var(--button-icon-height-small);
			}
		}
	}

	&--only-icon {
		padding: $spacing;
		width: var(--button-height-large);

		.toggle-button-icon kv-icon {
			--icon-width: var(--button-icon-width-large);
			--icon-height: var(--button-icon-height-large);
			width: var(--button-icon-width-large);
			height: var(--button-icon-height-large);
		}
	}
}
