@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --tag-status-label-color: Tag status label text color.
	 * @prop --tag-status-icon-size: Tag status icon width and height in pixels.
	 * @prop --tag-status-icon-success-color: Tag status icon success color.
	 * @prop --tag-status-icon-success-background-color: Tag status icon success background color.
	 * @prop --tag-status-icon-error-color: Tag status icon error color.
	 * @prop --tag-status-icon-error-background-color: Tag status icon error background color.
	 * @prop --tag-status-icon-unknown-color: Tag status icon unknown color.
	 * @prop --tag-status-icon-unknown-background-color: Tag status icon unknown background color.
	 * @prop --tag-status-icon-warning-color: Tag status icon warning color.
	 * @prop --tag-status-icon-warning-background-color: Tag status icon warning background color.
	 * @prop --tag-status-icon-info-color: Tag status icon info color.
	 * @prop --tag-status-icon-info-background-color: Tag status icon info background color.
	 * @prop --tag-status-gap: Tag status gap between label and icon in pixels.
	 */

	--tag-status-label-color: var(--text-surface-neutral-secondary );
	--tag-status-icon-size: var(--size-md);
	--tag-status-icon-success-color: var(--icon-surface-status-success-default);
	--tag-status-icon-success-background-color: var(--background-surface-neutral-inverse);
	--tag-status-icon-error-color: var(--icon-surface-status-danger-default);
	--tag-status-icon-error-background-color: var(--background-surface-neutral-inverse);
	--tag-status-icon-unknown-color: var(--icon-surface-status-inactive-default);
	--tag-status-icon-unknown-background-color: transparent;
	--tag-status-icon-warning-color: var(--icon-surface-status-warning-default);
	--tag-status-icon-warning-background-color: transparent;
	--tag-status-icon-info-color: var(--icon-surface-status-info-default);
	--tag-status-icon-info-background-color: var(--background-surface-neutral-inverse);
	--tag-status-gap: var(--spacing-md);
}

.tag-status {
	display: flex;
	align-items: center;
	gap: var(--tag-status-gap);

	.label {
		@include body-s-regular;
		color: var(--tag-status-label-color);
	}

	.icon {
		kv-icon {
			--icon-width: var(--tag-status-icon-size);
			--icon-height: var(--tag-status-icon-size);
		}

		&--state-success {
			kv-icon {
				--icon-color: var(--tag-status-icon-success-color);
				--icon-background-color: var(--tag-status-icon-success-background-color);
			}
		}

		&--state-error {
			kv-icon {
				--icon-color: var(--tag-status-icon-error-color);
				--icon-background-color: var(--tag-status-icon-error-background-color);
			}
		}

		&--state-unknown {
			kv-icon {
				--icon-color: var(--tag-status-icon-unknown-color);
				--icon-background-color: var(--tag-status-icon-unknown-background-color);
			}
		}

		&--state-warning {
			kv-icon {
				--icon-color: var(--tag-status-icon-warning-color);
				--icon-background-color: var(--tag-status-icon-warning-background-color);
			}
		}

		&--state-info {
			kv-icon {
				--icon-color: var(--tag-status-icon-info-color);
				--icon-background-color: var(--tag-status-icon-info-background-color);
			}
		}
	}
}
