@import '../../assets/styles/globals';

:host {
	/**
	* @prop --progress-bar-height: The height of the progress bar
	* @prop --progress-bar-background-color: The color of the progress bar container
	* @prop --progress-bar-filler-success-color: The color of the progress bar filler
	* @prop --progress-bar-filler-error-color: The color of the progress bar filler when in error
	*/
	--progress-bar-height: 2px;
	--progress-height: 14px;
	--progress-bar-background-color: #{kv-color('neutral-6')};
	--progress-bar-filler-success-color: #{kv-color('success')};
	--progress-bar-filler-error-color: #{kv-color('error')};
}

$progress-bar-height-half: calc(var(--progress-bar-height) / 2);

.step-progress-bar-container {
	display: flex;
	height: var(--progress-height);
	position: relative;
	align-items: center;
	justify-content: space-between;

	.progress-bar {
		width: 100%;
		height: var(--progress-bar-height);
		border-radius: $progress-bar-height-half;
		background-color: var(--progress-bar-background-color);
		padding: 0 $progress-bar-height-half;
	}

	.progress-bar-filler {
		position: absolute;
		height: var(--progress-bar-height);
		background-color: var(--progress-bar-filler-success-color);
		border-radius: $progress-bar-height-half;

		&.error {
			background-color: var(--progress-bar-filler-error-color);
		}
	}

	.steps-container {
		position: absolute;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
