@import 'node_modules/@kelvininc/ui-components/dist/assets/globals.scss';

.TitleContainer {
	margin-bottom: $spacing;
	display: flex;

	.Required {
		@include kv-font-label-small-uppercase-semibold;

		color: kv-color('error');
		margin: 0 $spacing;
	}

	.ToggleTip {
		margin-left: $spacing-2x;
	}
}
