@use 'node_modules/@kelvininc/ui-components/dist/assets/styles' as *;

.TitleContainer {
	margin-bottom: var(--spacing-xs);
	display: flex;
	align-items: center;
	min-width: 0;

	kv-info-label::part(title) {
		@include ellipsis;
	}

	kv-tooltip {
		max-width: 100%;
	}

	.GroupHeading {
		@include heading-s-semibold-caps;

		&.SubsectionHeading {
			@include heading-xs-semibold-caps;
		}

		color: var(--text-container-neutral-default);
		margin: 0;
		overflow-wrap: anywhere;
	}

	.Required {
		@include heading-xs-semibold-caps;

		color: var(--input-text-required-default);
		margin: 0 var(--spacing-xs);
	}

	.ToggleTip {
		margin-left: var(--spacing-md);
	}
}
