@use '../../assets/styles' as *;


kv-action-button[type="text"] {
	--button-height-large: 16px;
	--button-height-small: 16px;

	--button-padding-x-large: none;
	--button-padding-y-large: none;
	
	--button-padding-x-small: none;
	--button-padding-y-small: none;
}

.action-button-text {
	white-space: nowrap;

	@include body-m-semibold;

	&--type-text {
		@include body-m-regular;

		&.action-button-text--active,
		&:hover:not(.action-button-text--disabled) {
			@include body-m-semibold;
		}
	}
}
