@import '../../assets/styles/globals';

:host {
	--level-padding-offset: 0;

	.level {
		--select-option-width: unset;
		--select-option-label-color: #{kv-color('neutral-2')};
		--select-option-background-color-selected: #{kv-color('neutral-7')};
		--select-option-background-color-hover: #{kv-color('neutral-7')};

		&::part(option-container) {
			height: unset;
			padding: $spacing-2x 0 $spacing-2x calc(var(--level-padding-offset) + #{$spacing-4x});

			&::after {
				content: '';
				display: flex;
				flex: 1;
				height: 1px;
				background: kv-color('neutral-6');
				margin: 0 $spacing-4x 0 $spacing-2x;
			}
		}

		&::part(label) {
			@include kv-font-label-xsmall-uppercase-semibold;
		}

		&::part(checkbox) {
			--checkbox-icon-size: 12px;
		}

		kv-select-option-multi-level {
			&::part(option-container) {
				padding-left: calc(var(--level-padding-offset) + #{$spacing-4x});
			}

			&::part(checkbox) {
				--checkbox-icon-size: 12px;
			}
		}
	}
}
