@import "node_modules/@kelvininc/ui-components/dist/assets/styles/globals.scss";

.array-item-list {
	display: flex;
	flex-direction: column;
	gap: $spacing-5x;
}

.array-item-container .array-field-template {
	border: 1px solid kv-color('neutral-6');
	border-width: 0 1px;
	padding: 0 $spacing-5x;
	margin-left: $spacing-2x;
}

.reset-fieldset-style {
	border: 0;
	padding: 0;
	margin: 0;
}

.array-item-container {
	width: 100%;
	display: flex;
	align-items: center;

	.item-prefix {
		@include kv-font-label-small-regular;
		margin-right: $spacing-6x;
		white-space: nowrap;
		text-transform: uppercase;
	}

	.toolbar-container {
		display: flex;
		padding-left: $spacing-5x;
		gap: $spacing;
	}
}

.array-field-template {
	display: flex;

	.array-field-container {
		width: 100%;
		display: flex;
		flex-direction: column;

		.array-field-add-button-container {
			display: flex;
			justify-content: end;

		}
	}
}
body {
	&[mode='light'] {
		.array-item-container .array-field-template {
			border-color: kv-color('neutral-2');
		}

		.array-item-container .item-prefix {
			color: kv-color('neutral-6');
		}
	}

	&[mode='night'] {
		.array-item-container .array-field-template {
			border-color: kv-color('neutral-6');
		}

		.array-item-container .item-prefix {
			color: kv-color('neutral-2');
		}
	}
}
