@use 'node_modules/@kelvininc/ui-components/dist/assets/styles' as *;

.RadioListContainer {
	display: flex;
	flex-flow: column wrap;
	gap: var(--spacing-xl);

	&::part(items-container) {
		flex: 1;
		gap: var(--spacing-xl) var(--spacing-md);
	}

	&::part(item) {
		display: grid;
		flex: 1;
	}

	&.Inline {
		flex-direction: row;

		&::part(items-container) {
			flex-flow: row wrap;
		}
	}
}
