@use 'node_modules/@kelvininc/ui-components/dist/assets/styles' as *;

.RadioListContainer {
	display: flex;
	flex-flow: column wrap;
	gap: var(--spacing-md);
	margin-left: var(--spacing-xs);

	&.Inline {
		flex-direction: row;
	}

	kv-radio-list-item {
		display: flex;
		flex: 1;
	}
}
