@use 'node_modules/@kelvininc/ui-components/dist/assets/styles' as *;

.RadioListContainer {
	display: flex;
	flex-flow: column wrap;
	gap: $spacing-2x;
	margin-left: $spacing;

	&.Inline {
		flex-direction: row;
	}

	kv-radio-list-item {
		display: flex;
		flex: 1;
	}
}
