@use '../../assets/styles' as *;

.toggle-switch-container {
	display: flex;

	> :last-child {
		--border-radius-top-right: var(--toggle-radius-default);
		--border-radius-bottom-right: var(--toggle-radius-default);
	}

	> :first-child {
		--border-radius-top-left: var(--toggle-radius-default);
		--border-radius-bottom-left: var(--toggle-radius-default);
	}

	kv-toggle-button {
		--border-radius-top-right: 0;
		--border-radius-bottom-right: 0;
		--border-radius-top-left: 0;
		--border-radius-bottom-left: 0;
	}
}
