@use '../../assets/styles' as *;

/**
 * @prop --text-color: The color to use for all text
 * @prop --separator-color: The color to use for the separator
 * @prop --container-padding: The container to use for the container
 */

:host {
	--text-color: var(--text-surface-neutral-secondary);
	--separator-color: var(--text-surface-neutral-secondary);
	--container-padding: var(--spacing-2xl);
}

.wizard-header-container {
	display: flex;
	padding: var(--container-padding);
	justify-content: space-between;

	.left-container {
		display: flex;
		align-items: center;
		flex: 1;
		
		.label,
		.description {
			color: var(--text-color);
		}

		.label {
			@include heading-xs-semibold-caps;
		}

		.description {
			@include ellipsis;
			@include body-m-regular;
		}

		.separator {
			width: 4px;
			height: 4px;
			border-radius: 50%;
			margin: 0 var(--spacing-md);
			background-color: var(--separator-color);
		}

		kv-toggle-tip .toggle-tip-open-element-container {
			@include clickable;
			margin-left: var(--spacing-md);
		}
	}
}
