@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --icon-color: Color of the icon
	 * @prop --icon-height: Height of icon
	 * @prop --icon-width: Width of icon
	 * @prop --icon-rotation: Rotation of icon
	 */
	--icon-color: #{kv-color('text')};
	--icon-height: 16px;
	--icon-width: 16px;
	--icon-rotation: 0deg;
}

.icon {
	fill: var(--icon-color);
	width: var(--icon-width);
	height: var(--icon-height);
	transform: rotate(var(--icon-rotation));

	/* SIZES */
	&.icon-8 {
		width: 8px;
		height: 8px;
	}

	&.icon-12 {
		width: 12px;
		height: 12px;
	}

	&.icon-16 {
		width: 16px;
		height: 16px;
	}

	&.icon-20 {
		width: 20px;
		height: 20px;
	}

	&.icon-24 {
		width: 24px;
		height: 24px;
	}

	&.icon-40 {
		width: 40px;
		height: 40px;
	}

	&.icon-full-size {
		width: 100%;
		height: 100%;
	}

	/* ROTATIONS */
	&.rotate-0 {
		transform: rotate(0deg);
	}

	&.rotate-45 {
		transform: rotate(45deg);
	}

	&.rotate-90 {
		transform: rotate(90deg);
	}

	&.rotate-135 {
		transform: rotate(135deg);
	}

	&.rotate-180 {
		transform: rotate(180deg);
	}

	&.rotate-225 {
		transform: rotate(225deg);
	}

	&.rotate-270 {
		transform: rotate(270deg);
	}

	&.rotate-315 {
		transform: rotate(315deg);
	}
}
