@import '../../assets/styles/globals';

:host {
	.dropdown-container {
		position: relative;
		user-select: none;
	}

	.dropdown-list {
		position: absolute;
		width: 100%;
		z-index: 2;
		display: inline-table;
	}
}
