@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --calendar-background-color: The calendar background color.
	 * @prop --calendar-width: The calendar container width.
	 * @prop --calendar-horizontal-padding: The calendar container horizontal padding.
	 * @prop --calendar-vertical-padding: The calendar container vertical padding.
	 * @prop --calendar-month-title-text-color: The calendar month text color.
	 * @prop --calendar-month-weekday-text-color: The calendar week day text color.
	 */

	--calendar-width: 233px;
	--calendar-horizontal-padding: #{$spacing-2x};
	--calendar-vertical-padding: #{$spacing-3x};
}

@function get-day-width() {
	@return calc((var(--calendar-width) - (var(--calendar-horizontal-padding) * 2)) / 7);
}

.calendar {
	padding: var(--calendar-vertical-padding) var(--calendar-horizontal-padding);
	background-color: var(--calendar-background-color);
	border-radius: 4px;
	border: solid 1px kv-color('neutral-6');

	width: var(--calendar-width);

	box-sizing: border-box;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-bottom: $spacing-3x;

		.month {
			@include kv-font-h4-semibold;
			color: var(--calendar-month-title-text-color);
		}
	}

	&__body {
		.calendar-month {
			display: grid;
			grid-template-columns: repeat(auto-fit, calc(get-day-width() * 7));

			&__weekdays {
				display: flex;
				align-items: center;
				justify-content: space-between;

				margin-bottom: $spacing;

				.weekday {
					@include kv-font-label-small-regular;
					width: get-day-width();
					color: var(--calendar-month-title-text-color);
					text-align: center;
				}
			}

			&__days {
				display: grid;
				grid-template-columns: repeat(auto-fit, get-day-width());

				kv-calendar-day {
					--calendar-day-width: #{get-day-width()};
				}
			}
		}
	}
}
