@import '../../assets/styles/globals';

:host {
	/**
		@prop --container-width: Width of the container
		@prop --container-padding: The container's padding
		@prop --container-hover-background-color: The container's hover state background color
		@prop --container-gap: The gap between the container's elements
		@prop --icon-start-opacity: Start icon opacity
		@prop --icon-color-default: Start icon color
		@prop --icon-color-success: Success icon color
		@prop --icon-background-color-success: Success icon background color
		@prop --icon-size: The copy icon size
	**/
	--container-width: 100%;
	--container-padding: #{$spacing-2x};
	--container-hover-background-color: kv-color('neutral-1');
	--container-gap: #{$spacing-2x};
	--icon-start-opacity: 0;
	--icon-color-default: #{kv-color('text', 'step-3')};
	--icon-color-success: #{kv-color('success')};
	--icon-background-color-success: #{kv-color('neutral-0')};
	--icon-size: 16px;
}

.copy-to-clipboard-container {
	width: var(--container-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	gap: var(--container-gap);
	padding: var(--container-padding);
	box-sizing: border-box;
	transition:
		background-color 0.2s ease-in-out,
		opacity 0.25s ease-in-out;

	&:hover {
		cursor: pointer;
		background-color: var(--container-hover-background-color);

		.state-icon kv-icon {
			opacity: 1;
		}
	}

	.state-icon {
		kv-icon {
			--icon-height: var(--icon-size);
			--icon-width: var(--icon-size);
			--icon-color: var(--icon-color-default);

			opacity: var(--icon-start-opacity);
		}

		&--success {
			kv-icon {
				--icon-color: var(--icon-color-success);
				--icon-background-color: var(--icon-background-color-success);
			}
		}
	}
}
