@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --radio-list-item-background: Background color.
	 * @prop --radio-list-item-background-hover: Background color on hover.
	 * @prop --radio-list-item-background-checked: Background color when checked.
	 * @prop --radio-list-item-label-color: Label text color.
	 * @prop --radio-list-item-label-color-hover: Label text color on hover.
	 * @prop --radio-list-item-label-color-checked: Label text color when checked.
	 * @prop --radio-list-item-label-color-disabled: Label text color when disabled.
	 * @prop --radio-list-item-description-color: Description text color.
	 * @prop --radio-list-item-description-color-disabled: Description text color when disabled.
	 * @prop --radio-list-item-border: Border property (width, style, color).
	 * @prop --radio-list-item-border-color-hover: Border color on hover.
	 * @prop --radio-list-item-border-color-checked: Border color when checked.
	 * @prop --radio-list-item-border-radius: Border radius.
	 * @prop --radio-list-item-padding-large: Content padding when size is large.
	 * @prop --radio-list-item-padding-small: Content padding when size is small.
	 * @prop --radio-list-item-gap-large: Gap between radio and info content when size is large.
	 * @prop --radio-list-item-gap-small: Gap between radio and info content when size is small.
	 */

	--radio-list-item-background: var(--background-persistent-radio-selector-default);
	--radio-list-item-background-hover: var(--background-persistent-radio-selector-hover);
	--radio-list-item-background-checked: var(--background-persistent-radio-selector-selected);
	
	--radio-list-item-label-color: var(--text-interactive-card-default);
	--radio-list-item-label-color-hover: var(--text-interactive-card-hover);
	--radio-list-item-label-color-checked: var(--text-interactive-card-selected);
	--radio-list-item-label-color-disabled: var(--text-interactive-card-disabled);
	--radio-list-item-description-color: var(--text-container-neutral-default);
	--radio-list-item-description-color-disabled: var(--text-container-neutral-disabled);
	
	--radio-list-item-border: 1px solid var(--border-persistent-radio-selector-default);
	--radio-list-item-border-color-hover: var(--border-persistent-radio-selector-hover);
	--radio-list-item-border-color-checked: var(--border-persistent-radio-selector-seleted);
	--radio-list-item-border-radius: var(--radius-md);
	--radio-list-item-padding-large: var(--spacing-2xl);
	--radio-list-item-padding-small: var(--spacing-xs) var(--spacing-2xl) var(--spacing-xs) var(--spacing-md);
	--radio-list-item-gap-large: var(--spacing-md);
	--radio-list-item-gap-small: var(--spacing-none);
}

.radio-list-item-container {
	display: flex;
	flex-direction: column;
	background: var(--radio-list-item-background);
	border: var(--radio-list-item-border);
	border-radius: var(--radio-list-item-border-radius);
	transition:
		border-color 0.25s ease-in-out,
		background 0.25s ease-in-out;
	outline: none;

	@include clickable;

	.info {
		flex: 1;
		min-width: 0;

		.label {
			@include heading-m-semibold;
			color: var(--radio-list-item-label-color);
		}

		.description {
			@include body-m-regular;
			color: var(--radio-list-item-description-color);

			kv-link::part(container) {
				display: inline;
			}
		}
	}

	&:hover:not(.radio-list-item-container--checked):not(.radio-list-item-container--disabled) {
		background: var(--radio-list-item-background-hover);
		border-color: var(--radio-list-item-border-color-hover);

		.info .label {
			color: var(--radio-list-item-label-color-hover);
		}
	}

	&--checked:not(.radio-list-item-container--disabled) {
		background: var(--radio-list-item-background-checked);
		border-color: var(--radio-list-item-border-color-checked);

		.info .label {
			color: var(--radio-list-item-label-color-checked);
		}
	}

	&--disabled {
		.info {
			.label {
				color: var(--radio-list-item-label-color-disabled)
			}

			.description {
				color: var(--radio-list-item-description-color-disabled);
			}
		}

		@include non-clickable;
	}

	.content {
		display: flex;
		align-items: center;
		padding: var(--radio-list-item-padding-large);
		gap: var(--radio-list-item-gap-large);

		&--size-small {
			gap: var(--radio-list-item-gap-small);
			padding: var(--radio-list-item-padding-small);
		}
	}
}
