@import '../../assets/styles/globals';

.select-create-option {
	display: flex;
	align-items: flex-start;
	gap: $spacing-3x;
}

.form {
	flex: 1;
	overflow: scroll;
}

.actions {
	display: flex;
	align-items: center;
	gap: $spacing;
}
