@use '../../assets/styles' as *;

.select-create-option {
	display: flex;
	align-items: flex-start;
	gap: var(--spacing-xl);
}

.form {
	flex: 1;
	overflow: auto;
}

.actions {
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
}
