@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --dropdown-max-height: Dropdown list maximum height.
	 * @prop --dropdown-min-height: Dropdown list minimum height.
	 */
	--dropdown-max-height: 400px;
	--dropdown-min-height: auto;
}

kv-dropdown {
	&[disabled] {
		pointer-events: none;
	}
}
