@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --tag-background-color: Tag background color.
	 * @prop --tag-border-color: Tag border color.
	 * @prop --tag-label-color: Tag label text color.
	 * @prop --tag-badge-color: Tag badge text color.
	 * @prop --tag-badge-background-color: Tag badge background color.
	 * @prop --tag-icon-color: Tag icon color.
	 * @prop --tag-content-gap: Gap between icon, label and badge.
	 * @prop --tag-content-padding-x: Horizontal padding inside the tag.
	 * @prop --tag-content-padding-y: Vertical padding inside the tag.
	 */

	--tag-content-gap: var(--spacing-xs);
	--tag-content-padding-x: var(--spacing-md);
	--tag-content-padding-y: var(--spacing-none);
}

.tag-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--tag-content-gap);
	width: fit-content;
	max-width: stretch;
	height: var(--size-xl);
	box-sizing: border-box;
	border-radius: var(--radius-md);
	padding: var(--tag-content-padding-y) var(--tag-content-padding-x);
	background-color: var(--tag-background-color, var(--_tag-bg));
	border: 1px solid var(--tag-border-color, var(--_tag-border-color));

	kv-icon {
		--icon-color: var(--tag-icon-color, var(--_tag-icon));
		--icon-width: var(--size-md);
		--icon-height: var(--size-md);
	}

	.tag-label {
		@include label-m-regular;
		@include ellipsis;

		color: var(--tag-label-color, var(--_tag-label));
	}

	kv-badge {
		--badge-background-color-secondary: var(--tag-badge-background-color, var(--_tag-badge-bg));
		--badge-text-color-secondary: var(--tag-badge-color, var(--_tag-badge));
	}

	// Color variants
	&--color-neutral {
		--_tag-bg: var(--background-container-neutral-default);
		--_tag-border-color: var(--border-container-tag-neutral-subtle);
		--_tag-label: var(--text-container-neutral-subtle);
		--_tag-badge: var(--text-container-neutral-subtle);
		--_tag-badge-bg: var(--background-container-neutral-subtle);
		--_tag-icon: var(--icon-container-neutral-subtle);
	}

	&--color-brand {
		--_tag-bg: var(--background-container-brand-default);
		--_tag-border-color: var(--border-container-tag-brand-subtle);
		--_tag-label: var(--text-container-brand-default);
		--_tag-badge: var(--text-container-brand-default);
		--_tag-badge-bg: var(--background-container-brand-subtle);
		--_tag-icon: var(--icon-container-brand-soft);
	}

	&--color-purple {
		--_tag-bg: var(--background-container-accent-purple-default);
		--_tag-border-color: var(--border-container-accent-purple-subtle);
		--_tag-label: var(--text-container-accent-purple-default);
		--_tag-badge: var(--text-container-accent-purple-default);
		--_tag-badge-bg: var(--background-container-accent-purple-subtle);
		--_tag-icon: var(--icon-container-accent-soft);
	}

	&--color-green {
		--_tag-bg: var(--background-container-status-success-default);
		--_tag-border-color: var(--border-container-status-success-subtle);
		--_tag-label: var(--text-container-status-success-default);
		--_tag-badge: var(--text-container-status-success-default);
		--_tag-badge-bg: var(--background-container-status-success-subtle);
		--_tag-icon: var(--icon-container-status-success-soft);
	}

	&--color-yellow {
		--_tag-bg: var(--background-container-status-warning-default);
		--_tag-border-color: var(--border-container-status-warning-subtle);
		--_tag-label: var(--text-container-status-warning-default);
		--_tag-badge: var(--text-container-status-warning-default);
		--_tag-badge-bg: var(--background-container-status-warning-subtle);
		--_tag-icon: var(--icon-container-status-warning-soft);
	}

	&--color-red {
		--_tag-bg: var(--background-container-status-danger-default);
		--_tag-border-color: var(--border-container-status-danger-subtle);
		--_tag-label: var(--text-container-status-danger-default);
		--_tag-badge: var(--text-container-status-danger-default);
		--_tag-badge-bg: var(--background-container-status-danger-subtle);
		--_tag-icon: var(--icon-container-status-danger-soft);
	}

	&--color-blue {
		--_tag-bg: var(--background-container-status-info-default);
		--_tag-border-color: var(--border-container-status-info-subtle);
		--_tag-label: var(--text-container-status-info-default);
		--_tag-badge: var(--text-container-status-info-default);
		--_tag-badge-bg: var(--background-container-status-info-subtle);
		--_tag-icon: var(--icon-container-status-info-soft);
	}
}
