@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --tag-background-color: Tag Background Color.
	 * @prop --tag-border-color: Tag Border Color.
	 * @prop --tag-label-color: Tag Text Color.
	 * @prop --tag-content-gap: Gap between text and slot.
	 * @prop --tag-content-padding: Padding insise content
	 */

	--tag-background-color: #{kv-color('neutral-6')};
	--tag-border-color: #{kv-color('neutral-6')};
	--tag-label-color: #{kv-color('neutral-2')};
	--tag-content-gap: #{$spacing};
	--tag-content-padding: #{2px $spacing};
}

.tag-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--tag-content-gap);
	width: fit-content;
	border-radius: 4px;
	padding: var(--tag-content-padding);
	border: 1px solid var(--tag-border-color);
	background-color: var(--tag-background-color);

	.tag-label {
		@include kv-font-label-small-uppercase-regular;

		color: var(--tag-label-color);
	}
}
