// Global Spacing
@import './kv-spacing';

// Global Typography
@import './kv-typography';

// Default Theme
@import './kv-theme.default';

// Global Color Functions
@import './kv-functions.color';

// Global Mixin Functions
@import './kv-mixins';

// Default General
// --------------------------------------------------
$primary-font: var(--kv-primary-font, 'proxima-nova', sans-serif, 'Arial');
$console-font: var(--kv-console-font, 'Inconsolata', 'mono');

body {
	color: kv-color('text');
	background-color: kv-color('background');

	&[mode='light'] {
		/* Text and Background Colors */
		--kv-text: #202020;
		--kv-text-rgb: 32, 32, 32;

		--kv-background: #fff;
		--kv-background-rgb: 255, 255, 255;
	}

	&[mode='night'] {
		/* Text and Background Colors */
		--kv-text: #fff;
		--kv-text-rgb: 255, 255, 255;

		--kv-background: #202020;
		--kv-background-rgb: 32, 32, 32;
	}
}
