// Globals
@import './globals';

body {
	color: kv-color('text');
	background-color: kv-color('background');
	font-family: $primary-font;

	/* Text and Background Colors */
	--kv-text: #fff;
	--kv-text-rgb: 255, 255, 255;

	--kv-background: #202020;
	--kv-background-rgb: 32, 32, 32;
}
