// Globals
@import './globals';

body {
	color: kv-color('text');
	background-color: kv-color('background');
	font-family: $primary-font;

	&[mode='light'] {
		/* Text and Background Colors */
		--kv-text: #1f2433;
		--kv-text-rgb: 31, 36, 51;

		--kv-background: #f5f7fb;
		--kv-background-rgb: 245, 247, 251;
	}

	&[mode='night'] {
		/* Text and Background Colors */
		--kv-text: #fff;
		--kv-text-rgb: 255, 255, 255;

		--kv-background: #202020;
		--kv-background-rgb: 32, 32, 32;
	}
}
