@import './kv-functions.color';

//*****************************
//*** PEACOCK COLOR PALETTE ***
//*****************************

// Default Peacock Colors
// -------------------------------------------------------------------------------------------
// Color map should provide
// - base: main color to be used. (CSS variable: --kv-[color name], --kv-[color name]-rgb (used to calculate alpha derivation if necessary))
// - contrast: Color that will provide readable text against the base color (CSS variable: --kv-[color name]-contrast)
// - dark: 12% darker version of the base color (mix with black) (CSS variable: --kv-[color name]-dark)
// - light: 80% lighter version of the base color (mix with white) (CSS variable: --kv-[color name]-light)
$primary-color: #1663ff !default;
$secondary-1-color: #f3f5fb !default;
$secondary-2-color: #f8e8ff !default;
$secondary-3-color: #e1f6f2 !default;
$secondary-4-color: linear-gradient(90deg, $secondary-2-color 0%, $primary-color 100%) !default;
$secondary-5-color: #e0e7ff !default;
$info-color: #2563eb !default;
$success-color: #289f61 !default;
$warning-color: #f59e0b !default;
$error-color: #e15554 !default;

// Default Text and Background Colors
$background-color: #f5f7fb !default;
$text-color: #1f2433 !default;

// Default Neutral Colors
// -------------------------------------------------------------------------------------------
// Neutral Color are used to provide variations in white and black colors of elements.
// Should be $neutral-color-0 stepping towards $neutral-color-9.
// `-rgb` prop is used to apply transparencies with RGBA
$neutral-color-0: #282828;
$neutral-color-1: #353535;
$neutral-color-2: #424242;
$neutral-color-3: #515151;
$neutral-color-4: #8f8f8f;
$neutral-color-5: #e6e9f3;
$neutral-color-6: #e1e4ef;
$neutral-color-7: #dbdfee;
$neutral-color-8: #d5dae9;
$neutral-color-9: #d0d5e6;

$colors: (
	'primary': (
		base: $primary-color,
		contrast: #fff,
		dark: #0f4ed4,
		light: #e5edff
	),
	'secondary-1': (
		base: $secondary-1-color,
		contrast: $text-color,
		dark: #dde2f2,
		light: #ffffff
	),
	'secondary-2': (
		base: $secondary-2-color,
		contrast: $text-color,
		dark: #e1c2ff,
		light: #fff8ff
	),
	'secondary-3': (
		base: $secondary-3-color,
		contrast: $text-color,
		dark: #bfe6dc,
		light: #f9fffd
	),
	'secondary-4': (
		base: $secondary-4-color,
		contrast: #fff
	),
	'secondary-5': (
		base: $secondary-5-color,
		contrast: $text-color,
		dark: #bfc8ff,
		light: #f5f6ff
	),
	'info': (
		base: $info-color,
		contrast: #fff,
		dark: #1e4fcc,
		light: #d6e4ff
	),
	'success': (
		base: $success-color,
		contrast: #fff,
		dark: #1f7f4f,
		light: #d9f5e5
	),
	'warning': (
		base: $warning-color,
		contrast: #fff,
		dark: #d48809,
		light: #fde7c2
	),
	'error': (
		base: $error-color,
		contrast: #fff,
		dark: #c14443,
		light: #f7d4d3
	),
	'background': (
		/* Steps move towards their contrasting color. */ 'step-0': $neutral-color-6,
		base: $background-color,
		'step-1': $neutral-color-5,
		'step-2': $neutral-color-4,
		'step-3': $neutral-color-3,
		'step-4': $neutral-color-2,
		'step-5': $neutral-color-1,
		'step-6': $neutral-color-0,
		'step-7': $neutral-color-0,
		'step-8': $neutral-color-0
	),
	'text': (
		/* Steps move towards their contrasting color. */ 'step-0': #ffffff,
		base: $text-color,
		'step-1': #30364a,
		'step-2': #42485d,
		'step-3': #5a6176,
		'step-4': #737b8f,
		'step-5': #8d95a8,
		'step-6': #a9b1c3,
		'step-7': #c5ccda,
		'step-8': #e1e6ef
	),
	'neutral-0': (
		base: $neutral-color-0
	),
	'neutral-1': (
		base: $neutral-color-1
	),
	'neutral-2': (
		base: $neutral-color-2
	),
	'neutral-3': (
		base: $neutral-color-3
	),
	'neutral-4': (
		base: $neutral-color-4
	),
	'neutral-5': (
		base: $neutral-color-5
	),
	'neutral-6': (
		base: $neutral-color-6
	),
	'neutral-7': (
		base: $neutral-color-7
	),
	'neutral-8': (
		base: $neutral-color-8
	),
	'neutral-9': (
		base: $neutral-color-9
	)
);
