@import '../../assets/styles/globals';

.advanced-date-selector {
	background-color: kv-color('neutral-7');
	border: 0.5px solid kv-color('neutral-6');
	border-radius: 4px;
	width: 544px;
}

.selector {
	border: 0.5px solid kv-color('neutral-6');
	padding: $spacing-4x;
}

.date-selector {
	display: flex;
	flex: 1;

	.absolute-date-selector,
	.relative-date-selector {
		flex: 1;
		padding: $spacing-4x;
	}

	.date-selector-label {
		@include kv-font-span-semibold;
		color: kv-color('neutral-2');
		border-radius: 4px;
		margin-bottom: $spacing-5x;
	}

	.relative-date-selector kv-select::part(select) {
		--select-border: none;
		--select-border-radius: 0;
	}

	.absolute-date-selector .start-single-date-select-dropdown,
	.absolute-date-selector .end-single-date-select-dropdown {
		kv-text-field {
			--text-color-input-default: #{kv-color('neutral-4')};
			--text-color-input-focused: #{kv-color('neutral-0')};
			--text-color-placeholder-focused: #{kv-color('neutral-0')};
		}
	}
}

.timezone-selector kv-single-select-dropdown {
	--dropdown-max-height: 300px;

	&::part(input) {
		--text-color-input-default: #{kv-color('neutral-4')};
	}
}
