@import "../../../assets/styles/globals.scss";

.intro-header {
	display: flex;
	justify-content: center;
	width: 100%;

	.intro-logo {
		position: relative;
		margin-bottom: 20px;
		
		img {
			height: 250px;
		}

		.label span {
			position: absolute;
			bottom: 0;
			right: 0;
			color: grey;
			@include kv-font-label-xsmall-light;
			font-size: 1.5rem;
		}
	}
}

.version {
	display: flex;
	justify-content: flex-end;

	span {
		@include kv-font-code;
	}
}

.references {
	display: flex;
	justify-content: center;
}
