@use '../../assets/styles' as *;

.date-time-input-container {
	display: flex;
	flex-direction: column;
	gap: var(--input-gap-horizontal-horizontal);

	kv-form-label {
		--label-color: var(--input-text-label-default);
		--label-gap: var(--input-gap-vertical-small);
		--label-required-color: var(--input-text-required-default);
		--label-bottom-spacing: var(--spacing-none);
	}

	kv-form-help-text {
		--help-text-default-color: var(--input-text-helper-text-default);
		--help-text-error-color: var(--input-text-helper-text-error);
		--help-text-top-spacing: var(--spacing-none);
		--help-text-bottom-spacing: var(--spacing-none);
		--help-text-right-spacing: var(--spacing-none);
		--help-text-left-spacing: var(--spacing-none);
	}
}

input {
	@include ellipsis;
	@include body-m-regular;

	appearance: textfield;
	outline: 0;
	padding: 0;
	width: 100%;
	border: transparent;
	background-color: transparent;
	color: var(--input-text-text-input-filled);

	&::placeholder {
		color: var(--input-text-text-input-default);
	}

	&:focus,
	&.forced-focus {
		color: var(--input-text-text-input-selected);
	}

	&:read-only:not(:disabled) {
		cursor: pointer;
	}

	&:disabled {
		color: var(--input-text-text-input-disabled);

		&::placeholder {
			color: var(--input-text-text-input-disabled);
		}
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
	}
}

.input-container-wrapper {
	display: flex;
	align-items: center;
	min-width: 140px;
	border: solid var(--input-border-thickness-default) var(--input-border-color-default);
	background-color: var(--input-background-default);
	overflow: hidden;
	box-sizing: border-box;

	&--size-large {
		height: var(--input-height-regular);

		.input-container {
			padding: 0 var(--input-padding-x-regular);
		}
	}

	&--size-small {
		height: var(--input-height-compact);
		
		.input-container {
			padding: 0 var(--input-padding-x-compact);
		}
	}

	&--style-merged-left {
		border-top-left-radius: var(--input-radius-regular);
		border-bottom-left-radius: var(--input-radius-regular);
		border-right-color: transparent;
	}

	&--style-merged-right {
		border-top-right-radius: var(--input-radius-regular);
		border-bottom-right-radius: var(--input-radius-regular);
		border-left-color: transparent;
	}

	&--style-separated {
		border-radius: var(--input-radius-regular);
	}

	.input-separator {
		width: 1px;
		height: 22px;
		background-color: var(--border-container-neutral-subtlest);
	}

	&.filled {
		border-color: var(--input-border-color-filled);

		&.input-container-wrapper--style-merged-left {
			border-right-color: transparent;
		}

		&.input-container-wrapper--style-merged-right {
			border-left-color: transparent;
		}
	}

	&.focused {
		border-color: var(--input-border-color-selected);

		.input-separator { 
			background-color: transparent;
		}

		&.input-container-wrapper--style-merged-left {
			border-right-color: var(--input-border-color-selected);
		}

		&.input-container-wrapper--style-merged-right {
			border-left-color: var(--input-border-color-selected);
		}
	}

	&.invalid {
		border-color: var(--input-border-color-error);

		&.input-container-wrapper--style-merged-left {
			border-right-color: transparent;
		}

		&.input-container-wrapper--style-merged-right {
			border-left-color: transparent;
		}
	}

	&.disabled {
		border-color: var(--input-border-color-disabled);
		background-color: var(--input-background-disabled);

		&.input-container-wrapper--style-merged-left {
			border-right-color: transparent;
		}

		&.input-container-wrapper--style-merged-right {
			border-left-color: transparent;
		}
	}
}

.input-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	
	.left-container,
	.right-container {
		height: 100%;
		display: flex;
		align-items: center;
		gap: var(--spacing-xs);
	}

	.left-container {
		overflow: hidden;
		user-select: none;
		margin-right: var(--input-gap-vertical-default);

		kv-icon {
			--icon-color: var(--input-icon-color-default);
			--icon-with: var(--input-icon-size-regular);
			--icon-height: var(--input-icon-size-regular);

			&.filled {
				--icon-color: var(--icon-interactive-input-filled);
			}

			&.focus {
				--icon-color: var(--icon-interactive-input-selected);
			}

			&.disabled {
				--icon-color: var(--icon-interactive-input-disabled);
			}
		}
	}

	.right-container {
		justify-content: center;
		margin-left: var(--input-gap-vertical-default);

		kv-icon {
			--icon-color: var(--input-icon-color-default);
			--icon-width: var(--size-lg);
			--icon-height: var(--size-lg);

			&.filled {
				--icon-color: var(--icon-interactive-input-filled);
			}

			&.focus {
				--icon-color: var(--icon-interactive-input-selected);
			}

			&.disabled {
				--icon-color: var(--icon-interactive-input-disabled);
			}
		}

		&:not(.disabled) {
			cursor: pointer;
		}
	}
}
