@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --virtualized-list-max-height: Virtualized list maximum height.
	 * @prop --virtualized-list-min-height: Virtualized list list minimum height.
	 */
	--virtualized-list-max-height: auto;
	--virtualized-list-min-height: auto;
	--virtualized-list-padding: var(--spacing-xl, #{$spacing-3x}) 0;

	display: block;
	height: 100%;
	width: 100%;

	.container {
		max-height: var(--virtualized-list-max-height);
		min-height: var(--virtualized-list-min-height);

		padding: var(--virtualized-list-padding);
		height: 100%;
		width: 100%;
		display: block;
		overflow-y: auto;

		@include kelvin-scrollbar;
	}

	.inner {
		position: relative;
		display: block;
		width: 100%;
	}

	.item {
		position: absolute;
	}
}
