@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --loader-overlay-color: Overlay color
	 * @prop --loader-overlay-opacity: Overlay opacity
	 * @prop --loader-background-color: Loader background
	 * @prop --loader-spinner-color: Loader color
	 * @prop --loader-z-index: Loader z-index position.
	 */
	--loader-overlay-color: #{kv-color('neutral-4')};
	--loader-overlay-opacity: 0.4;
	--loader-background-color: #{kv-color('neutral-1')};
	--loader-spinner-color: #{kv-color('primary')};
	--loader-z-index: 1;
}

.loader-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--loader-z-index);

	.overlay {
		width: 100%;
		height: 100%;
		opacity: var(--loader-overlay-opacity);
		background-color: var(--loader-overlay-color);
	}

	.loader {
		height: 0;
		width: 0;
		padding: 15px;
		border: 6px solid var(--loader-background-color);
		border-right-color: var(--loader-spinner-color);
		border-radius: 50%;
		animation: loadrotate 1s infinite linear;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
}

@keyframes loadrotate {
	/* Use 0% instead for anticlockwise */
	100% {
		transform: rotate(360deg);
	}
}
