@use '../../Templates/section-layout';

.OptionsContainer {
	/* stylelint-disable csstools/value-no-unknown-custom-properties -- vars defined by SchemaForm */
	> div {
		display: flex;
		flex-direction: column;
		gap: var(--schema-form-fields-y-gap);
	}
	/* stylelint-enable csstools/value-no-unknown-custom-properties */

	> div > [data-schema-form-option-branch] {
		@include section-layout.section-guide;

		&:empty,
		&[data-schema-form-default-template]:has(> [data-schema-form-field] > div > [data-schema-form-object]:only-child:empty) {
			display: none;
		}
	}
}
