@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --toaster-large-height: Toaster with two messages.
	 * @prop --toaster-small-height: Toaster with one message.

	 * @prop --toaster-width: Toaster width.
	 * @prop --toaster-top-space: Space between Toaster and top of page.
	 * @prop --background-color-default: Toaster background color.

	 * @prop --reset-button-focused: Close button focused.
	 * @prop --toaster-icons-height: toaster icons height
	 * @prop --toaster-icons-width: toaster icons width
	 */

	--toaster-large-height: 74px;
	--toaster-small-height: 56px;

	--toaster-width: 500px;
	--toaster-top-space: #{$spacing-4x};
	--background-color-default: #{kv-color('neutral-6')};

	--close-button-focused: #{kv-color('neutral-2')};

	--toaster-icons-width: 24px;
	--toaster-icons-height: 24px;
}

kv-icon {
	--icon-width: var(--toaster-icons-width);
	--icon-height: var(--toaster-icons-height);
	margin-right: $spacing-4x;
	object-fit: contain;
}

.toaster-container {
	position: absolute;
	top: var(--toaster-top-space);
	left: 0;
	right: 0;
	margin: 0 auto;
	width: var(--toaster-width);
	min-height: var(--toaster-small-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	padding: $spacing-4x;
	border-left: solid 2px kv-color('neutral-6');
	background-color: var(--background-color-default);
	box-sizing: border-box;
	overflow: hidden;

	&.toaster-type--info {
		border-color: kv-color('info');

		.toaster-icon kv-icon {
			--icon-color: #{kv-color('info')};
		}
	}

	&.toaster-type--warning {
		border-color: kv-color('warning');

		.toaster-icon kv-icon {
			--icon-color: #{kv-color('warning')};
		}
	}

	&.toaster-type--error {
		border-color: kv-color('error');

		.toaster-icon kv-icon {
			--icon-color: #{kv-color('error')};
		}
	}

	&.toaster-type--success {
		border-color: kv-color('success');

		.toaster-icon kv-icon {
			--icon-color: #{kv-color('success')};
		}
	}

	&.animate-fade-in {
		animation-duration: 0.5s;
		animation-name: animate-fade-in-small;
		animation-fill-mode: backwards;
	}

	&.animate-fade-out {
		animation-duration: 0.5s;
		animation-name: animate-fade-out-small;
		animation-fill-mode: forwards;
	}

	&.toaster-container--large {
		min-height: var(--toaster-large-height);

		&.animate-fade-in {
			animation-name: animate-fade-in-large;
		}

		&.animate-fade-out {
			animation-name: animate-fade-out-large;
		}
	}

	.toaster-icon {
		display: flex;
		align-items: center;
	}

	.message-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		.main-message {
			@include kv-font-span-semibold;
			color: kv-color('neutral-2');
		}

		.secondary-message {
			@include kv-font-span-regular;
			margin-top: $spacing;
			color: kv-color('neutral-4');
		}
	}

	.toaster-close-icon {
		display: flex;
		align-items: center;
		margin-left: $spacing-4x;

		kv-icon {
			margin: 0;
			user-select: none;
			cursor: pointer;

			&:hover {
				--icon-color: var(--close-button-focused);
			}
		}
	}
}

@keyframes animate-fade-in-large {
	from {
		opacity: 0;
		margin-top: calc(-1 * var(--toaster-large-height));
	}

	to {
		opacity: 1;
		margin-top: 0;
	}
}

@keyframes animate-fade-out-large {
	from {
		opacity: 1;
		margin-top: 0;
	}

	to {
		opacity: 0;
		margin-top: calc(-1 * var(--toaster-large-height));
	}
}

@keyframes animate-fade-in-small {
	from {
		opacity: 0;
		margin-top: calc(-1 * var(--toaster-small-height));
	}

	to {
		opacity: 1;
		margin-top: 0;
	}
}

@keyframes animate-fade-out-small {
	from {
		opacity: 1;
		margin-top: 0;
	}

	to {
		opacity: 0;
		margin-top: calc(-1 * var(--toaster-small-height));
	}
}
