@import "node_modules/@kelvininc/ui-components/dist/assets/styles/globals.scss";

.title-container {
	margin-bottom: $spacing-2x;
	display: flex;

	.required {
		@include kv-font-label-small-uppercase-semibold;

		color: kv-color('error');
		margin: 0 $spacing;
	}
}
