@import "node_modules/@kelvininc/ui-components/dist/assets/styles/kv-theme.default.scss";
@import "node_modules/@kelvininc/ui-components/dist/assets/styles/kv-spacing.scss";
@import "node_modules/@kelvininc/ui-components/dist/assets/styles/kv-typography.scss";

$primary-font: var(--kv-primary-font, 'proxima-nova', sans-serif, 'Arial');
.title-container {
	margin-bottom: $spacing-2x;
	display: flex;

	.required {
		@include kv-font-label-small-uppercase-semibold;
		
		color: kv-color('error');
		margin: 0 $spacing;
	}
}
