@import '../../assets/styles/globals';
@import './info-label.base';


:host {
	--text-color-title: #{kv-color('text', 'step-3')};
	--text-color-description: #{kv-color('text', 'step-5')};
	--expanded-button-color: #{kv-color('primary')};
}
