@import '../../assets/styles/globals';

/**
	 * @prop --text-color-title: Info label's title color.
	 * @prop --text-color-description: Info label's description color.
	 * @prop --expanded-buttom-color: Expandded buttom's color.
*/

:host {
	--text-color-title: #{kv-color('neutral-4')};
	--text-color-description: #{kv-color('neutral-2')};
	--expanded-button-color: #{kv-color('neutral-0')};
}

.info-label {
	display: flex;
	flex-direction: column;

	.title {
		@include kv-font-label-small-uppercase-regular();
		color: var(--text-color-title);
		white-space: nowrap;
		margin-bottom: $spacing-2x;

		&.no-description {
			margin-bottom: 0;
		}
	}

	.description-wrapper {
		overflow-y: hidden;
		transition: height 0.3s ease-in-out;
		height: auto;

		.text {
			@include kv-font-span-regular();
			color: var(--text-color-description);
		}
	}

	.expand-description-button {
		@include kv-font-label-small-regular();
		display: flex;
		align-items: center;
		cursor: pointer;
		margin-top: $spacing-3x;
		color: var(--expanded-button-color);

		kv-icon {
			--icon-color: #{var(--expanded-button-color)};
			display: flex;
			margin-left: $spacing;
			transition: transform 0.3s ease-in-out;
		}

		&.expanded kv-icon {
			--icon-rotation: 180deg;
		}
	}
}

.description {
	display: flex;
	align-items: center;

	.copy-icon {
		opacity: 0;
	}

	&:hover .copy-icon {
		opacity: 1;
		transition: all 200ms ease-in-out;
	}
}

.copy-icon {
	margin-left: $spacing-2x;
	cursor: pointer;
	user-select: none;
}
