@use '../../assets/styles' as *;

:host {
	display: block;
}

.absolute-time-content {
	background-color: var(--background-container-elevated-slider);
	border: 1px solid var(--slider-border-color-default);
	border-radius: var(--radius-md);
	width: max-content;

	.footer {
		display: flex;
		justify-content: flex-end;
		padding: var(--spacing-2xl);
		border-top: 1px solid var(--slider-border-color-default);
	
		.actions {
			display: flex;
			gap: var(--spacing-md);
		}
	}	
}
