@import 'node_modules/@kelvininc/ui-components/dist/assets/styles/globals.scss';

.FormContainer {
	/**
	* @prop --schema-form-x-padding: horizontal form padding
	* @prop --schema-form-y-padding: vertical form padding
	* @prop --schema-form-max-width: max field width
	* @prop --schema-form-fields-x-gap: horizontal gap between fields
	* @prop --schema-form-fields-y-gap: vertical gap between fields
	*/
	--schema-form-x-padding: 0px;
	--schema-form-y-padding: 0px;
	--schema-form-max-width: 100%;
	--schema-form-fields-x-gap: #{$spacing-5x};
	--schema-form-fields-y-gap: #{$spacing-5x};

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: var(--schema-form-y-padding) 0;
	box-sizing: border-box;
	position: relative;

	form {
		width: 100%;
		display: flex;
		flex: 1;
		min-height: 0;
		flex-direction: column;
		justify-content: space-between;
	}

	form > div[class^='FieldTemplate'] {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		box-sizing: border-box;
		padding: 0 var(--schema-form-x-padding);
	}

	.FormFooter {
		display: flex;
		justify-content: space-between;
		align-items: end;
		padding: $spacing-4x var(--schema-form-x-padding) 0 var(--schema-form-x-padding);

		&.Scrolling {
			border-top: 1px solid kv-color('neutral-6');
		}

		.LeftFooter,
		.RightFooter {
			display: flex;
			gap: $spacing-3x;
		}
	}

	.Action {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: $spacing-2x;
		top: var(--schema-form-y-padding);
		right: var(--schema-form-x-padding);

		.Text {
			color: kv-color('neutral-2');
			@include kv-font-label-small-regular;
		}
	}
}

body {
	&[mode='light'] {
		.FormContainer form {
			@include kelvin-light-scrollbar();
		}

		.FormFooter.Scrolling {
			border-color: kv-color('neutral-3');
		}
	}

	&[mode='night'] {
		.FormContainer form {
			@include kelvin-night-scrollbar();
		}
		.FormFooter.Scrolling {
			border-color: kv-color('neutral-6');
		}
	}
}
