@use 'node_modules/@kelvininc/ui-components/dist/assets/styles' as *;

.FormContainer {
	/**
	* @prop --schema-form-x-padding: horizontal form padding
	* @prop --schema-form-y-padding: vertical form padding
	* @prop --schema-form-max-width: max field width
	* @prop --schema-form-fields-x-gap: horizontal gap between fields
	* @prop --schema-form-fields-y-gap: vertical gap between fields
	*/
	--schema-form-x-padding: 0;
	--schema-form-y-padding: 0;
	--schema-form-max-width: 100%;
	--schema-form-fields-x-gap: var(--spacing-3xl);
	--schema-form-fields-y-gap: var(--spacing-3xl);
	--schema-form-background: inherit;

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: var(--schema-form-y-padding) 0;
	box-sizing: border-box;
	position: relative;
	background-color: var(--schema-form-background);

	*div {
		background-color: inherit;
	}

	form {
		width: 100%;
		display: flex;
		flex: 1;
		min-height: 0;
		flex-direction: column;
		justify-content: space-between;
		background-color: inherit;
	}

	form > div[class^='FieldTemplate'] {
		height: 100%;
		overflow: hidden auto;
		box-sizing: border-box;
		padding: 0 var(--schema-form-x-padding);
	}

	.FormFooter {
		display: flex;
		justify-content: space-between;
		align-items: end;
		padding: var(--spacing-2xl) var(--schema-form-x-padding) 0 var(--schema-form-x-padding);

		&.Scrolling {
			border-top: 1px solid var(--modal-divider-strong);
		}

		.LeftFooter,
		.RightFooter {
			display: flex;
			gap: var(--spacing-xl);
		}
	}

	.Action {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--spacing-md);
		position: absolute;
		top: var(--schema-form-y-padding);
		right: var(--schema-form-x-padding);

		.Text {
			color: var(--text-container-neutral-default);
			@include body-s-regular;
		}
	}
}

body {
	.FormContainer form {
		@include kelvin-scrollbar;
	}

	/* stylelint-disable-next-line no-descending-specificity */
	.FormFooter.Scrolling {
		border-color: var(--modal-divider-strong);
	}
}
