@use '../../assets/styles' as *;

:host {
	display: block;
}

$input-height: 32px;

.input-container {
	background-color: var(--transparent);
	padding: 0 var(--spacing-2xl);
	height: $input-height;
	display: flex;
	align-items: center;

	kv-icon {
		visibility: hidden;
	}

	&--content-hidden {
		&:hover {
			background-color: var(--background-interactive-slider-list-hover);
			cursor: pointer;

			kv-icon {
				--icon-color: var(--icon-surface-neutral-primary);
				visibility: visible;
			}
		}
	}

	.label-container {
		@include body-s-regular;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		color: var(--text-container-neutral-default);
	}

	.slot-container {
		width: 100%;
	}
}
