@import '../../assets/styles/globals';

:host {
	display: block;
}

$input-height: 32px;


.input-container {
	background-color: kv-color('neutral-0');
	border: 1px solid kv-color('neutral-3');
	border-radius: 4px;
	padding: 0 $spacing-4x;
	height: $input-height;
	display: flex;
	align-items: center;

	kv-icon {
		visibility: hidden;
	}

	&--content-hidden {
		&:hover {
			background-color: kv-color('neutral-1');
			border-color: kv-color('neutral-3');
			cursor: pointer;

			kv-icon {
				visibility: visible;
			}
		}
	}

	.label-container {
		@include kv-font-label-small-regular;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		color: kv-color('neutral-6');
	}

	.slot-container {
		width: 100%;
	}
}
