@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --help-text-default-color: Help Text color when state is default.
	 * @prop --help-text-error-color: Help Text color when state is invalid.
	 */

	--help-text-default-color: var(--text-surface-neutral-tertiary);
	--help-text-error-color: var(--text-container-status-danger-default);
	--help-text-top-spacing: var(--spacing-xs);
	--help-text-bottom-spacing: var(--spacing-none);
	--help-text-right-spacing: var(--spacing-none);
	--help-text-left-spacing: var(--spacing-md);

	display: flex;
}

.help-text-container {
	display: inline-flex;
	flex-flow: wrap;
	flex: 1;
	overflow: hidden;
	padding: var(--help-text-top-spacing) var(--help-text-right-spacing) var(--help-text-bottom-spacing) var(--help-text-left-spacing);
	color: var(--help-text-default-color);

	.help-text {
		@include body-s-regular;

		margin-right: var(--spacing-xs);
		color: var(--help-text-default-color);
	}

	span + span::before {
		content: '•';
		padding-right: var(--spacing-xs);
	}

	kv-icon {
		--icon-color: var(--help-text-default-color);

		align-items: center;
		margin-right: var(--spacing-xs);
		float: left;
	}

	&.invalid {
		color: var(--help-text-error-color);

		.help-text {
			color: var(--help-text-error-color);
		}

		kv-icon {
			--icon-color: var(--help-text-error-color);
		}
	}
}
