@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --help-text-default-color: Help Text color when state is default.
	 * @prop --help-text-error-color: Help Text color when state is invalid.
	 */

	--help-text-default-color: #{kv-color('text', 'step-5')};
	--help-text-error-color: #{kv-color('error', 'light')};
}

.help-text-container {
	width: calc(100% - $spacing-2x);
	overflow: hidden;
	padding: $spacing 0 0 $spacing-2x;
	color: var(--help-text-default-color);
	box-sizing: border-box;
	
	.help-text {
		@include kv-font-label-small-regular;

		margin-right: $spacing;
		color: var(--help-text-default-color);
	}

	span + span::before {
		content: '•';
		padding-right: $spacing;
	}

	kv-icon {
		--icon-color: var(--help-text-default-color);

		align-items: center;
		margin-right: $spacing-2x;
		float: left;
		margin-top: 2px;
	}

	&.invalid {
		color: var(--help-text-error-color);

		.help-text {
			color: var(--help-text-error-color);
		}

		kv-icon {
			--icon-color: var(--help-text-error-color);
		}
	}
}
