@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --label-color: Label Text color.
	 */
	 --label-color: var(--text-surface-neutral-tertiary, #{kv-color('neutral-4')});
	 --label-required-color: var(--text-surface-danger-default, #{kv-color('error')});
	 --label-gap: var(--spacing-2xs, #{$spacing});
	 --label-bottom-spacing: var(--spacing-2xs, #{$spacing});

	 display: inline-flex;
}

.required {
	@include heading-xs-semibold-caps;

	+ label {
		@include heading-xs-semibold-caps;
	}
}

.label {
	@include heading-xs-regular-caps;
	color: var(--label-color);
}

.required {
	color: var( --label-required-color);
}

.label-container {
	display: inline-flex;
	gap: var(--label-gap);
	margin-bottom: var(--label-bottom-spacing);
}
