@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --label-color: Label Text color.
	 */
	 --label-color: #{kv-color('neutral-4')};
}

.required {
	@include heading-xs-semibold-caps;

	+ label {
		@include heading-xs-semibold-caps;
	}
}

.label {
	@include heading-xs-regular-caps;
	color: var(--label-color);
	margin-left: $spacing;
}

.required {
	color: kv-color('error');
	margin-left: $spacing;
}

.label-container {
	margin-bottom: $spacing;
}
