@import '../../assets/styles/globals';

$default-input-height: var(--input-height, $spacing-9x);
$slim-input-height: var(--input-height, $spacing-7x);

.label,
.error {
	@include kv-font-label-small-uppercase-semibold; }

.label {
	color: kv-color('text');
}

.error {
	color: kv-color('error');
	margin-right: $spacing;
}

.flex-align-center {
	display: flex;
	align-content: center;
}

.text-container {
	margin-left: $spacing-2x;

	.text-elem {
		@include kv-font-label-small-regular;
		width: 100%;
		height: 16px;
		margin-top: $spacing;

		color: kv-color('neutral-5');

		.flex-align-center {
			display: flex;
			align-content: center;
		}

		svg-icon {
			margin-right: $spacing;
		}
	}

	.has-error {
		color: kv-color('error');
	}
}

input {
	@include kv-font-span-regular;

	color: kv-color('primary');
	width: calc(100% - $spacing-4x);
	padding-left: $spacing-2x;
	padding-right: $spacing-2x;
	padding-top: 0;
	padding-bottom: 0;
	outline: 0;
	border-radius: 4px;
	border: solid 1px kv-color('neutral-2');
	height: $default-input-height;

	.has-error {
		border-color: kv-color('error');
	}

	&:disabled {
		background-color: kv-color('neutral-3');
		color: kv-color('text');
	}

	&::placeholder {
		color: kv-color('neutral-2');
	}

	&:disabled::placeholder {
		color: kv-color('neutral-5');
	}

	&:focus {
		border-color: kv-color('primary');
		color: kv-color('primary');
	}
}

.input-container {
	position: relative;
	margin-top: $spacing;

	.svg-icon {
		position: absolute;
		top: 0;
		right: $spacing-2x;
		height: 100%;
		cursor: pointer;
		user-select: none;
	}
}

.input-container-loading {

	@include ghost-animation;
	display: flex;
	height: $default-input-height;
	margin-top: $spacing;
}

.kv-slim-text-field {
	height: $slim-input-height;
}
