@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --input-height-large: Text Field's large height.
	 * @prop --input-height-small: Text Field's small height.
	 * @prop --input-width: Text Field's width.

	 * @prop --text-color-label: Label Text color.
	 * @prop --text-color-icon-default: Icon color when state is default.
	 * @prop --text-color-icon-disabled: Icon color when state is disabled.
	 * @prop --text-color-input-default: Input text color when state is default.
	 * @prop --text-color-placeholder-default: Placeholder text color when state is default.
	 * @prop --text-color-input-disabled: Input text color when state is disabled.
	 * @prop --text-color-placeholder-disabled: Placeholder text color when state is disabled.
	 * @prop --text-color-input-focused: Input Text color when state is focused.
	 * @prop --text-color-placeholder-focused: Placeholder text color when state is focused.
	 * @prop --text-color-help-text-default: Help Text color when state is default.
	 * @prop --text-color-help-text-error: Help Text color when state is invalid.

	 * @prop --border-color-default: Border color when state is default.
	 * @prop --border-color-focused: Border color when state is focused.
	 * @prop --border-color-error: Border color when state is invalid.

	 * @prop --background-color-default: Background color when state is default.
	 * @prop --background-color-disabled: Background color when state is disabled.
	 * @prop --right-slot-padding-right: right slot padding.
	 * @prop --right-slot-width: right slot width
	 * @prop --left-slot-padding-left: left slot left padding.
	 * @prop --left-slot-padding-top: left slot top padding.
	 */

	--input-height-large: 36px;
	--input-height-small: 28px;
	--input-width: auto;

	--text-color-icon-default: #{kv-color('neutral-4')};
	--text-color-input-disabled: #{kv-color('neutral-5')};
	--text-color-help-text-default: #{kv-color('neutral-4')};
	--text-color-help-text-error: #{kv-color('error')};

	--border-color-error: #{kv-color('error')};
	--right-slot-padding-right: #{$spacing-9x};
	--right-slot-width: 36px;
	--left-slot-padding-left: #{$spacing-6x};
	--left-slot-padding-top: 0;
}

kv-form-label {
	--label-color: var(--text-color-label);
}

kv-form-help-text {
	--help-text-default-color: var(--text-color-help-text-default);
	--help-text-error-color: var(--text-color-help-text-error);
}

kv-tooltip::part(container) {
	@include kv-font-span-regular();
	color: kv-color('neutral-2');
}

.flex-align-center {
	display: flex;
	align-content: center;
}

kv-tooltip::part(content) {
	width: 100%;
}

input {
	@include kv-font-span-regular;

	appearance: textfield;
	width: 100%;
	height: 100%;
	padding-left: $spacing-2x;
	padding-right: $spacing-2x;
	padding-top: 0;
	padding-bottom: 0;
	outline: 0;
	box-sizing: border-box;
	border-radius: 4px;
	border: solid 1px var(--border-color-default);
	color: var(--text-color-input-default);
	background-color: var(--background-color-default);

	&.has-icon {
		padding-left: $spacing-9x;
	}

	&.invalid {
		border-color: var(--border-color-error);
	}

	&.left-slotted {
		padding-left: var(--left-slot-padding-left);
	}

	&.right-slotted {
		padding-right: var(--right-slot-padding-right);
	}

	&::placeholder {
		color: var(--text-color-placeholder-default);
	}

	&:disabled {
		background-color: var(--background-color-disabled);
		color: var(--text-color-input-disabled);

		&::placeholder {
			color: var(--text-color-placeholder-disabled);
		}
	}

	&:focus,
	&.forced-focus {
		color: var(--text-color-input-focused);

		&::placeholder {
			color: var(--text-color-placeholder-focused);
		}

		&:not(.invalid) {
			border-color: var(--border-color-focused);
		}
	}

	&:read-only:not(:disabled) {
		cursor: pointer;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
	}
}

.input-container {
	position: relative;
	width: var(--input-width);

	&--size-large {
		height: var(--input-height-large);
	}

	&--size-small {
		height: var(--input-height-small);
	}

	.left-slot-container {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		height: 100%;
		user-select: none;
		padding-left: $spacing-3x;
		padding-top: var(--left-slot-padding-top);
		color: var(--text-color-input-default);

		&.invalid {
			color: var(--text-color-help-text-error);
		}

		&.disabled {
			color: var(--text-color-icon-disabled);
		}

		&.focus:not(.invalid) {
			color: var(--text-color-input-focused);
		}
	}

	kv-icon {
		--icon-width: 20px;
		--icon-height: 20px;
		--icon-color: var(--text-color-icon-default);

		&.invalid {
			--icon-color: var(--text-color-help-text-error);
		}

		&.disabled {
			--icon-color: var(--text-color-icon-disabled);
		}

		&.focus:not(.invalid) {
			--icon-color: var(--text-color-input-focused);
		}
	}

	.right-slot-container {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: var(--right-slot-width);
		overflow: hidden;

		&:not(.disabled) {
			cursor: pointer;
		}

		::slotted(kv-icon) {
			--icon-width: 16px;
			--icon-height: 16px;
			--icon-color: var(--text-color-icon-default);

			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&.focus {
			::slotted(kv-icon) {
				--icon-color: var(--text-color-input-focused);
			}
		}
	}
}

.input-container-loading {
	height: 100%;
	width: 100%;
	display: flex;
	margin-top: $spacing;
}
