@import '../../assets/styles/globals';
@import './text-field.base';

:host {
	--text-color-label: #{kv-color('neutral-4')};
	--text-color-icon-disabled: #{kv-color('neutral-6')};
	--text-color-input-default: #{kv-color('neutral-2')};
	--text-color-input-focused: #{kv-color('neutral-2')};

	--border-color-default: #{kv-color('neutral-6')};
	--border-color-focused: #{kv-color('neutral-0')};

	--background-color-default: #{kv-color('neutral-6')};
	--background-color-disabled: #{kv-color('neutral-7')};
}

.input-container-loading {
	@include ghost-animation('neutral-7');
}
