@import '../../assets/styles/globals';
@import './text-field.base';


:host {
	--text-color-label: #{kv-color('text', 'step-3')};

	--text-color-icon-default: #{kv-color('text', 'step-4')};
	--text-color-icon-disabled: #{kv-color('text', 'step-5')};
	--text-color-icon-focused: #{kv-color('primary')};

	--text-color-action-icon-default: #{kv-color('text', 'step-4')};
	--text-color-action-icon-disabled: #{kv-color('text', 'step-5')};
	--text-color-action-icon-focused: #{kv-color('primary')};

	--text-color-input-default: #{kv-color('text')};
	--text-color-input-disabled: #{kv-color('text', 'step-6')};
	--text-color-input-focused: #{kv-color('primary')};

	--text-color-placeholder-default: #{kv-color('text', 'step-5')};
	--text-color-placeholder-disabled: #{kv-color('text', 'step-6')};
	--text-color-placeholder-focused: #{kv-color('text', 'step-5')};

	--border-color-default: #{kv-color('neutral-3')};
	--border-color-focused: #{kv-color('primary')};

	--background-color-default: #{kv-color('neutral-0')};
	--background-color-disabled: #{kv-color('neutral-2')};
}

.input-container-loading {
	@include ghost-animation('neutral-2');
	transition: none;
}
