@use 'sass:map';
@use '../../assets/styles' as *;

/* stylelint-disable csstools/value-no-unknown-custom-properties */
@mixin button-text-theme($type) {
	$btn-default-text-color: var(--text-color-default-#{$type});
	$btn-default-icon-color: var(--icon-color-default-#{$type});

	$btn-hover-text-color: var(--text-color-hover-#{$type});
	$btn-hover-icon-color: var(--icon-color-hover-#{$type});

	$btn-focus-text-color: var(--text-color-focus-#{$type});
	$btn-focus-icon-color: var(--icon-color-focus-#{$type});

	$btn-disabled-text-color: var(--text-color-disabled-#{$type});
	$btn-disabled-icon-color: var(--icon-color-disabled-#{$type});

	$btn-active-text-color: var(--text-color-active-#{$type});
	$btn-active-icon-color: var(--icon-color-active-#{$type});

	color: $btn-default-text-color;

	::slotted(kv-icon) {
		--icon-color: #{$btn-default-icon-color};
	}

	&:hover:not(.action-button--disabled) {
		color: $btn-hover-text-color;

		::slotted(kv-icon) {
			--icon-color: #{$btn-hover-icon-color};
		}
	}

	&:focus:not(.action-button--disabled):not(.action-button--active) {
		color: $btn-focus-text-color;

		::slotted(kv-icon) {
			--icon-color: #{$btn-focus-icon-color};
		}
	}

	&.action-button--disabled {
		color: $btn-disabled-text-color;

		::slotted(kv-icon) {
			--icon-color: #{$btn-disabled-icon-color};
		}
	}

	&:active:not(.action-button--disabled),
	&.action-button--active {
		color: $btn-active-text-color;

		::slotted(kv-icon) {
			--icon-color: #{$btn-active-icon-color};
		}
	}
}
@mixin button-background-theme($type) {
	$btn-default-background-color: var(--background-color-default-#{$type});
	$btn-hover-background-color: var(--background-color-hover-#{$type});
	$btn-focus-background-color: var(--background-color-focus-#{$type});
	$btn-disabled-background-color: var(--background-color-disabled-#{$type});
	$btn-active-background-color: var(--background-color-active-#{$type});

	background: linear-gradient(45deg, $btn-hover-background-color 50%, $btn-default-background-color 50%);
	background-size: 350% 100%;
	background-repeat: no-repeat;
	background-color: $btn-default-background-color;
	background-position: right bottom;
	transition:
		background-position 0.5s ease-out,
		border-top-color 0.5s ease-out,
		border-right-color 0.5s ease-out,
		border-bottom-color 0.25s ease-in-out,
		border-left-color 0.25s ease-in-out;

	&:hover:not(.action-button--disabled) {
		background-position: left top;
	}

	&:focus:not(.action-button--disabled):not(.action-button--active) {
		background: $btn-focus-background-color;
	}

	&.action-button--disabled {
		background: $btn-disabled-background-color;
	}

	&:active:not(.action-button--disabled),
	&.action-button--active {
		background: $btn-active-background-color;
	}
}
@mixin button-border-theme($type) {
	$btn-default-border-color: var(--border-color-default-#{$type});
	$btn-hover-border-color: var(--border-color-hover-#{$type});
	$btn-focus-border-color: var(--border-color-focus-#{$type});
	$btn-disabled-border-color: var(--border-color-disabled-#{$type});
	$btn-active-border-color: var(--border-color-active-#{$type});
	$btn-border-thickness: var(--button-border-thickness);

	border: $btn-border-thickness solid $btn-default-border-color;

	&:hover:not(.action-button--disabled) {
		border-top-color: $btn-hover-border-color;
		border-right-color: $btn-hover-border-color;
		border-bottom-color: $btn-hover-border-color;
		border-left-color: $btn-hover-border-color;
	}

	&:focus:not(.action-button--disabled):not(.action-button--active) {
		&::before {
			content: '';
			filter: blur(2px);
			position: absolute;
			z-index: -1;
			border: $btn-border-thickness solid $btn-focus-border-color;
		}
	}

	&.action-button--disabled {
		border: $btn-border-thickness solid $btn-disabled-border-color;
	}

	&:active:not(.action-button--disabled),
	&.action-button--active {
		border: $btn-border-thickness solid $btn-active-border-color;
	}
}

@mixin button-type-theme($type) {
	@include button-text-theme($type);
	@include button-background-theme($type);
	@include button-border-theme($type);
}
@mixin button-size-theme($size, $type) {
	height: var(--button-height-#{$size});
	padding: var(--button-padding-y-#{$size}, 0) var(--button-padding-x-#{$size});

	::slotted(kv-icon) {
		--icon-width: var(--button-icon-size-#{$type}-#{$size});
		--icon-height: var(--button-icon-size-#{$type}-#{$size});
	}
}
/* stylelint-enable csstools/value-no-unknown-custom-properties */

:host {
	/**
	 * @prop --icon-color-default-primary: Icon color when state is default and theme is primary.
	 * @prop --icon-color-default-secondary: Icon color when state is default and theme is secondary.
	 * @prop --icon-color-default-tertiary: Icon color when state is default and theme is tertiary.
	 * @prop --icon-color-default-text: Icon color when state is default and theme is text.
	 * @prop --icon-color-default-danger: Icon color when state is default and theme is danger.
	 * @prop --icon-color-hover-primary: Icon color when state is hover and theme is primary.
	 * @prop --icon-color-hover-secondary: Icon color when state is hover and theme is secondary.
	 * @prop --icon-color-hover-tertiary: Icon color when state is hover and theme is tertiary.
	 * @prop --icon-color-hover-text: Icon color when state is hover and theme is text.
	 * @prop --icon-color-hover-danger: Icon color when state is hover and theme is danger.
	 * @prop --icon-color-focus-primary: Icon color when state is focus and theme is primary.
	 * @prop --icon-color-focus-secondary: Icon color when state is focus and theme is secondary.
	 * @prop --icon-color-focus-tertiary: Icon color when state is focus and theme is tertiary.
	 * @prop --icon-color-focus-text: Icon color when state is focus and theme is text.
	 * @prop --icon-color-focus-danger: Icon color when state is focus and theme is danger.
	 * @prop --icon-color-disabled-primary: Icon color when state is disabled and theme is primary.
	 * @prop --icon-color-disabled-secondary: Icon color when state is disabled and theme is secondary.
	 * @prop --icon-color-disabled-tertiary: Icon color when state is disabled and theme is tertiary.
	 * @prop --icon-color-disabled-text: Icon color when state is disabled and theme is text.
	 * @prop --icon-color-disabled-danger: Icon color when state is disabled and theme is danger.
	 * @prop --icon-color-active-primary: Icon color when state is active and theme is primary.
	 * @prop --icon-color-active-secondary: Icon color when state is active and theme is secondary.
	 * @prop --icon-color-active-tertiary: Icon color when state is active and theme is tertiary.
	 * @prop --icon-color-active-text: Icon color when state is active and theme is text.
	 * @prop --icon-color-active-danger: Icon color when state is active and theme is danger.
	 * @prop --text-color-default-primary: Text color when state is default and theme is primary.
	 * @prop --text-color-default-secondary: Text color when state is default and theme is secondary.
	 * @prop --text-color-default-tertiary: Text color when state is default and theme is tertiary.
	 * @prop --text-color-default-text: Text color when state is default and theme is text.
	 * @prop --text-color-default-danger: Text color when state is default and theme is danger.
	 * @prop --text-color-hover-primary: Text color when state is hover and theme is primary.
	 * @prop --text-color-hover-secondary: Text color when state is hover and theme is secondary.
	 * @prop --text-color-hover-tertiary: Text color when state is hover and theme is tertiary.
	 * @prop --text-color-hover-text: Text color when state is hover and theme is text.
	 * @prop --text-color-hover-danger: Text color when state is hover and theme is danger.
	 * @prop --text-color-focus-primary: Text color when state is focus and theme is primary.
	 * @prop --text-color-focus-secondary: Text color when state is focus and theme is secondary.
	 * @prop --text-color-focus-tertiary: Text color when state is focus and theme is tertiary.
	 * @prop --text-color-focus-text: Text color when state is focus and theme is text.
	 * @prop --text-color-focus-danger: Text color when state is focus and theme is danger.
	 * @prop --text-color-disabled-primary: Text color when state is disabled and theme is primary.
	 * @prop --text-color-disabled-secondary: Text color when state is disabled and theme is secondary.
	 * @prop --text-color-disabled-tertiary: Text color when state is disabled and theme is tertiary.
	 * @prop --text-color-disabled-text: Text color when state is disabled and theme is text.
	 * @prop --text-color-disabled-danger: Text color when state is disabled and theme is danger.
	 * @prop --text-color-active-primary: Text color when state is active and theme is primary.
	 * @prop --text-color-active-secondary: Text color when state is active and theme is secondary.
	 * @prop --text-color-active-tertiary: Text color when state is active and theme is tertiary.
	 * @prop --text-color-active-text: Text color when state is active and theme is text.
	 * @prop --text-color-active-danger: Text color when state is active and theme is danger.
	 * @prop --background-color-default-primary: Background color when state is default and theme is primary.
	 * @prop --background-color-default-secondary: Background color when state is default and theme is secondary.
	 * @prop --background-color-default-tertiary: Background color when state is default and theme is tertiary.
	 * @prop --background-color-default-text: Background color when state is default and theme is text.
	 * @prop --background-color-default-danger: Background color when state is default and theme is danger.
	 * @prop --background-color-hover-primary: Background color when state is hover and theme is primary.
	 * @prop --background-color-hover-secondary: Background color when state is hover and theme is secondary.
	 * @prop --background-color-hover-tertiary: Background color when state is hover and theme is tertiary.
	 * @prop --background-color-hover-text: Background color when state is hover and theme is text.
	 * @prop --background-color-hover-danger: Background color when state is hover and theme is danger.
	 * @prop --background-color-focus-primary: Background color when state is focus and theme is primary.
	 * @prop --background-color-focus-secondary: Background color when state is focus and theme is secondary.
	 * @prop --background-color-focus-tertiary: Background color when state is focus and theme is tertiary.
	 * @prop --background-color-focus-text: Background color when state is focus and theme is text.
	 * @prop --background-color-focus-danger: Background color when state is focus and theme is danger.
	 * @prop --background-color-disabled-primary: Background color when state is disabled and theme is primary.
	 * @prop --background-color-disabled-secondary: Background color when state is disabled and theme is secondary.
	 * @prop --background-color-disabled-tertiary: Background color when state is disabled and theme is tertiary.
	 * @prop --background-color-disabled-text: Background color when state is disabled and theme is text.
	 * @prop --background-color-disabled-danger: Background color when state is disabled and theme is danger.
	 * @prop --background-color-active-primary: Background color when state is active and theme is primary.
	 * @prop --background-color-active-secondary: Background color when state is active and theme is secondary.
	 * @prop --background-color-active-tertiary: Background color when state is active and theme is tertiary.
	 * @prop --background-color-active-text: Background color when state is active and theme is text.
	 * @prop --background-color-active-danger: Background color when state is active and theme is danger.
	 * @prop --border-color-default-primary: Border color when state is default and theme is primary.
	 * @prop --border-color-default-secondary: Border color when state is default and theme is secondary.
	 * @prop --border-color-default-tertiary: Border color when state is default and theme is tertiary.
	 * @prop --border-color-default-text: Border color when state is default and theme is text.
	 * @prop --border-color-default-danger: Border color when state is default and theme is danger.
	 * @prop --border-color-hover-primary: Border color when state is hover and theme is primary.
	 * @prop --border-color-hover-secondary: Border color when state is hover and theme is secondary.
	 * @prop --border-color-hover-tertiary: Border color when state is hover and theme is tertiary.
	 * @prop --border-color-hover-text: Border color when state is hover and theme is text.
	 * @prop --border-color-hover-danger: Border color when state is hover and theme is danger.
	 * @prop --border-color-focus-primary: Border color when state is focus and theme is primary.
	 * @prop --border-color-focus-secondary: Border color when state is focus and theme is secondary.
	 * @prop --border-color-focus-tertiary: Border color when state is focus and theme is tertiary.
	 * @prop --border-color-focus-text: Border color when state is focus and theme is text.
	 * @prop --border-color-focus-danger: Border color when state is focus and theme is danger.
	 * @prop --border-color-disabled-primary: Border color when state is disabled and theme is primary.
	 * @prop --border-color-disabled-secondary: Border color when state is disabled and theme is secondary.
	 * @prop --border-color-disabled-tertiary: Border color when state is disabled and theme is tertiary.
	 * @prop --border-color-disabled-text: Border color when state is disabled and theme is text.
	 * @prop --border-color-disabled-danger: Border color when state is disabled and theme is danger.
	 * @prop --border-color-active-primary: Border color when state is active and theme is primary.
	 * @prop --border-color-active-secondary: Border color when state is active and theme is secondary.
	 * @prop --border-color-active-tertiary: Border color when state is active and theme is tertiary.
	 * @prop --border-color-active-text: Border color when state is active and theme is text.
	 * @prop --border-color-active-danger: Border color when state is active and theme is danger.
	 * @prop --button-gap-large: Button's gap between elements when size is large.
	 * @prop --button-gap-small: Button's gap between elements when size is small.
	 * @prop --button-height-large: Button's height when size is large.
	 * @prop --button-height-small: Button's height when size is small.
	 * @prop --button-padding-x-large: Button's horizontal padding when size is large.
	 * @prop --button-padding-x-small: Button's horizontal padding when size is small.
	 * @prop --button-padding-y-large: Button's vertical padding when size is large.
	 * @prop --button-padding-y-small: Button's vertical padding when size is small.
	 * @prop --button-border-thickness: Button's border thickness.
	 * @prop --button-border-radius-large: Button's border radius when size is large.
	 * @prop --button-border-radius-small: Button's border radius when size is small.
	 * @prop --button-icon-size-primary-large: Icon size when theme is primary and size is large.
	 * @prop --button-icon-size-primary-small: Icon size when theme is primary and size is small.
	 * @prop --button-icon-size-secondary-large: Icon size when theme is secondary and size is large.
	 * @prop --button-icon-size-secondary-small: Icon size when theme is secondary and size is small.
	 * @prop --button-icon-size-tertiary-large: Icon size when theme is tertiary and size is large.
	 * @prop --button-icon-size-tertiary-small: Icon size when theme is tertiary and size is small.
	 * @prop --button-icon-size-text-large: Icon size when theme is text and size is large.
	 * @prop --button-icon-size-text-small: Icon size when theme is text and size is small.
	 * @prop --button-icon-size-danger-large: Icon size when theme is danger and size is large.
	 * @prop --button-icon-size-danger-small: Icon size when theme is danger and size is small.
	 */

	//icon colors
	--icon-color-default-primary: var(--button-primary-icon-color-default);
	--icon-color-default-secondary: var(--button-secondary-icon-color-default);
	--icon-color-default-tertiary: var(--button-tertiary-icon-color-default);
	--icon-color-default-text: var(--button-text-icon-color-default);
	--icon-color-default-danger: var(--button-danger-icon-color-default);

	--icon-color-hover-primary: var(--button-primary-icon-color-default);
	--icon-color-hover-secondary: var(--button-secondary-icon-color-subtle);
	--icon-color-hover-tertiary: var(--button-tertiary-icon-color-subtle);
	--icon-color-hover-text: var(--button-text-icon-color-default);
	--icon-color-hover-danger: var(--button-danger-icon-color-default);

	--icon-color-focus-primary: var(--button-primary-icon-color-default);
	--icon-color-focus-secondary: var(--button-secondary-icon-color-default);
	--icon-color-focus-tertiary: var(--button-tertiary-icon-color-default);
	--icon-color-focus-text: var(--button-text-icon-color-default);
	--icon-color-focus-danger: var(--button-danger-icon-color-default);
	--icon-color-disabled-primary: var(--button-primary-icon-color-disabled);
	--icon-color-disabled-secondary: var(--button-secondary-icon-color-disabled);
	--icon-color-disabled-tertiary: var(--button-tertiary-icon-color-disabled);
	--icon-color-disabled-text: var(--button-text-icon-color-disabled);
	--icon-color-disabled-danger: var(--button-danger-icon-color-disabled);

	--icon-color-active-primary: var(--button-primary-icon-color-default);
	--icon-color-active-secondary: var(--button-secondary-icon-color-subtle);
	--icon-color-active-tertiary: var(--button-tertiary-icon-color-subtle);
	--icon-color-active-text: var(--button-text-icon-color-default);
	--icon-color-active-danger: var(--button-danger-icon-color-default);

	// text colors
	--text-color-default-primary: var(--button-primary-label-default);
	--text-color-default-secondary: var(--button-secondary-label-default);
	--text-color-default-tertiary: var(--button-tertiary-label-default);
	--text-color-default-text: var(--button-text-label-default);
	--text-color-default-danger: var(--button-danger-label-default);
	--text-color-hover-primary: var(--button-primary-label-default);
	--text-color-hover-secondary: var(--button-secondary-label-subtle);
	--text-color-hover-tertiary: var(--button-tertiary-label-subtle);
	--text-color-hover-text: var(--button-text-label-default);
	--text-color-hover-danger: var(--button-danger-label-default);

	--text-color-focus-primary: var(--button-primary-label-default);
	--text-color-focus-secondary: var(--button-secondary-label-default);
	--text-color-focus-tertiary: var(--button-tertiary-label-default);
	--text-color-focus-text: var(--button-text-label-default);
	--text-color-focus-danger: var(--button-danger-label-default);
	--text-color-disabled-primary: var(--button-primary-label-disabled);
	--text-color-disabled-secondary: var(--button-secondary-label-disabled);
	--text-color-disabled-tertiary: var(--button-tertiary-label-disabled);
	--text-color-disabled-text: var(--button-text-label-disabled);
	--text-color-disabled-danger: var(--button-danger-label-disabled);

	--text-color-active-primary: var(--button-primary-label-default);
	--text-color-active-secondary: var(--button-secondary-label-subtle);
	--text-color-active-tertiary: var(--button-tertiary-label-subtle);
	--text-color-active-text: var(--button-text-label-default);
	--text-color-active-danger: var(--button-danger-label-default);

	// background colors
	--background-color-default-primary: var(--button-primary-background-default);
	--background-color-default-secondary: var(--transparent);
	--background-color-default-tertiary: var(--transparent);
	--background-color-default-text: var(--transparent);
	--background-color-default-danger: var(--button-danger-background-default);

	--background-color-hover-primary: var(--button-primary-background-hover);
	--background-color-hover-secondary: var(--button-secondary-background-hover);
	--background-color-hover-tertiary: var(--button-tertiary-background-hover);
	--background-color-hover-text: var(--transparent);
	--background-color-hover-danger: var(--button-danger-background-hover);

	--background-color-focus-primary: var(--button-primary-background-default);
	--background-color-focus-secondary: var(--transparent);
	--background-color-focus-tertiary: var(--transparent);
	--background-color-focus-text: var(--transparent);
	--background-color-focus-danger: var(--button-danger-background-default);
	--background-color-disabled-primary: var(--button-primary-background-disabled);
	--background-color-disabled-secondary: var(--button-secondary-background-disabled);
	--background-color-disabled-tertiary: var(--button-tertiary-background-disabled);
	--background-color-disabled-text: var(--transparent);
	--background-color-disabled-danger: var(--button-danger-background-disabled);

	--background-color-active-primary: var(--button-primary-background-pressed);
	--background-color-active-secondary: var(--button-secondary-background-pressed);
	--background-color-active-tertiary: var(--button-tertiary-background-pressed);
	--background-color-active-text: var(--transparent);
	--background-color-active-danger: var(--button-danger-background-pressed);

	// borders colors
	--border-color-default-primary: var(--button-primary-background-default);
	--border-color-default-secondary: var(--button-secondary-border-color-default);
	--border-color-default-tertiary: var(--transparent);
	--border-color-default-text: var(--transparent);
	--border-color-default-danger: var(--button-danger-background-default);

	--border-color-hover-primary: var(--button-primary-background-hover);
	--border-color-hover-secondary: var(--button-secondary-border-color-default);
	--border-color-hover-tertiary: var(--button-tertiary-background-hover);
	--border-color-hover-text: var(--transparent);
	--border-color-hover-danger: var(--button-danger-background-hover);

	--border-color-focus-primary: var(--button-primary-background-default);
	--border-color-focus-secondary: var(--button-secondary-border-color-default);
	--border-color-focus-tertiary: var(--transparent);
	--border-color-focus-text: var(--transparent);
	--border-color-focus-danger: var(--button-danger-background-default);

	--border-color-disabled-primary: var(--button-primary-background-disabled);
	--border-color-disabled-secondary: var(--button-secondary-background-disabled);
	--border-color-disabled-tertiary: var(--button-tertiary-background-disabled);
	--border-color-disabled-text: var(--transparent);
	--border-color-disabled-danger: var(--button-danger-background-disabled);

	--border-color-active-primary: var(--button-primary-background-pressed);
	--border-color-active-secondary: var(--button-secondary-border-color-pressed);
	--border-color-active-tertiary: var(--button-tertiary-background-pressed);
	--border-color-active-text: var(--transparent);
	--border-color-active-danger: var(--button-danger-background-pressed);

	// sizing
	--button-gap-large: var(--button-gap-regular);
	--button-gap-small: var(--button-gap-compact);
	--button-height-large: var(--button-height-regular);
	--button-height-small: var(--button-height-compact);
	--button-padding-x-large: var(--button-padding-x-regular);
	--button-padding-y-large: var(--button-padding-y-regular);

	--button-padding-x-small: var(--button-padding-x-compact);
	--button-padding-y-small: var(--button-padding-y-compact);

	--button-border-thickness: var(--button-secondary-border-thickness-default);
	--button-border-radius-large: var(--button-radius-regular);
	--button-border-radius-small: var(--button-radius-compact);

	--button-icon-size-primary-large: var(--button-primary-icon-size-regular);
	--button-icon-size-primary-small: var(--button-primary-icon-size-compact);

	--button-icon-size-secondary-large: var(--button-secondary-icon-size-regular);
	--button-icon-size-secondary-small: var(--button-secondary-icon-size-compact);

	--button-icon-size-tertiary-large: var(--button-tertiary-icon-size-regular);
	--button-icon-size-tertiary-small: var(--button-tertiary-icon-size-compact);

	--button-icon-size-text-large: var(--button-text-icon-size-regular);
	--button-icon-size-text-small: var(--button-text-icon-size-regular);

	--button-icon-size-danger-large: var(--button-danger-icon-size-regular);
	--button-icon-size-danger-small: var(--button-danger-icon-size-compact);
}

.action-button {
	text-decoration: none;

	position: relative;
	user-select: none;
	cursor: pointer;

	display: inline-flex;
	align-items: center;

	box-sizing: border-box;

	&--size-small {
		border-radius: var(--button-border-radius-small);
		gap: var(--button-gap-small);
	}

	&--size-large {
		border-radius: var(--button-border-radius-large);
		gap: var(--button-gap-large);
	}

	&--type-primary {
		@include button-type-theme('primary');

		&.action-button--size-small {
			@include button-size-theme('small', 'primary');
		}

		&.action-button--size-large {
			@include button-size-theme('large', 'primary');
		}
	}

	&--type-secondary {
		@include button-type-theme('secondary');

		&.action-button--size-small {
			@include button-size-theme('small', 'secondary');
		}

		&.action-button--size-large {
			@include button-size-theme('large', 'secondary');
		}
	}

	&--type-tertiary {
		@include button-type-theme('tertiary');

		&.action-button--loading {
			border-color: transparent;
			overflow: hidden;

			&::before {
				content: '';
				background-image: conic-gradient(transparent, var(--background-surface-skeleton-base), transparent);
				width: 150%;
				aspect-ratio: 1/1;

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(0deg);
				animation: loadingrotate 3s infinite linear;

				border-radius: inherit;
				z-index: -1;
			}
		}

		&.action-button--size-small {
			@include button-size-theme('small', 'tertiary');
		}

		&.action-button--size-large {
			@include button-size-theme('large', 'tertiary');
		}
	}

	&--type-text {
		@include button-type-theme('text');

		&.action-button--size-small {
			@include button-size-theme('small', 'text');
		}

		&.action-button--size-large {
			@include button-size-theme('large', 'text');
		}
	}

	&--type-danger {
		@include button-type-theme('danger');

		&.action-button--size-small {
			@include button-size-theme('small', 'danger');
		}

		&.action-button--size-large {
			@include button-size-theme('large', 'danger');
		}
	}

	&--disabled {
		cursor: not-allowed;
		user-select: none;
	}
}

@keyframes loadingrotate {
	/* Use 0% instead for anticlockwise */
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
