@use '../../assets/styles' as *;

.shortcuts {
	background: var(--background-container-neutral-default);
	display: flex;
	justify-content: space-between;
	padding: var(--spacing-sm) var(--spacing-2xl);
	user-select: none;
}

.left-items {
	display: flex;
	gap: var(--spacing-5xl);
}

.group {
	display: flex;
	align-items: center;
	gap: var(--spacing-md);
}

.icons {
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
}

.label {
	color: var(--text-on-color-neutral-tertiary);
	@include body-xs-regular;
}

.icon {
	border-radius: var(--radius-sm);
	background: var(--background-container-neutral-subtlest);
	color: var(--text-container-neutral-default);
	@include body-xs-regular;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--size-lg);
	width: var(--size-lg);

	kv-icon {
		--icon-width: var(--size-default);
		--icon-height: var(--size-default);
		--icon-color: var(--icon-container-neutral-subtle);
	}
}
