@import '../../assets/styles/globals';

.selected-labels-container {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
	gap: $spacing-8x;
	cursor: pointer;

	.selected-labels {
		overflow: hidden;
		display: flex;
		gap: $spacing-2x;
	}

	.overflowing-counter {
		@include kv-font-label-small-regular;
		color: kv-color('neutral-0');

		height: 16px;
		padding: $spacing $spacing-2x;
		background-color: kv-color('primary');
		border-radius: 2px;
	}

	kv-icon::part(icon) {
		cursor: pointer;
	}
}
