@use '../../assets/styles' as *;

.absolute-time-picker-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xl);
	padding: var(--spacing-2xl);
	border-radius: var(--radius-md);
	width: fit-content;

	.navigate-back {
		display: flex;
		height: 16px;

		kv-action-button-text {
			&::part(button) {
				width: 57px;
			}

			&::part(icon) {
				transform: rotate(180deg);
			}
		}
	}

	.header {
		.title {
			@include heading-m-semibold;
			color: var(--text-surface-neutral-secondary);
		}
	}

	.absolute-range-input {
		display: flex;
		gap: var(--spacing-4xl);

		kv-date-time-input {
			width: 196px;
		}
	}

	.absolute-point-input {
		width: 100%;
	}

	.calendars {
		display: flex;
		gap: var(--spacing-4xl);
	}
}
