.input-container {
	display: flex;
	flex-direction: column;

	&.has-errors {
		min-height: 59px;
		justify-content: end;
	}

	&.has-label:not(.has-errors) {
		min-height: 81px;
		justify-content: top;
	}
}
