@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --breadcrumb-separator-color: Breadcrumb's separator color.
	 * @prop --breadcrumb-separator-content: Breadcrumb's separator content.
	 */

	--breadcrumb-separator-color: var(--text-surface-neutral-secondary);
	--breadcrumb-separator-content: '/';
}

.breadcrumb-list {
	display: flex;
	align-items: center;

	::slotted(kv-breadcrumb-item:not(:last-child)) {
		display: flex;
		align-items: center;

		&::after {
			@include body-m-regular();
			display: inline-block;
			content: var(--breadcrumb-separator-content);
			margin: 0 var(--spacing-md);
			color: var(--breadcrumb-separator-color);
		}
	}
}
