@import 'node_modules/@kelvininc/ui-components/dist/assets/globals.scss';

.ArrayItemContainer [class*='ArrayFieldTemplate_ArrayFieldTemplate'] {
	border: 1px solid kv-color('neutral-6');
	border-width: 0 1px;
	padding: 0 $spacing-5x;
	margin-left: $spacing-2x;
}

.ArrayItemContainer {
	width: 100%;
	display: flex;
	align-items: center;

	.ItemPrefix {
		@include kv-font-label-small-regular;
		margin-right: $spacing-6x;
		white-space: nowrap;
		text-transform: uppercase;
	}

	.ToolbarContainer {
		display: flex;
		padding-left: $spacing-5x;
		gap: $spacing;
	}
}

.FieldsetStyle {
	padding: $spacing-3x;
	border-radius: 4px;
	border: 1px solid kv-color('neutral-4');
}

body {
	&[mode='light'] {
		.ArrayItemContainer [class*='ArrayFieldTemplate_ArrayFieldTemplate'] {
			border-color: kv-color('neutral-2');
		}

		.ArrayItemContainer .ItemPrefix {
			color: kv-color('neutral-6');
		}
	}

	&[mode='night'] {
		.ArrayItemContainer [class*='ArrayFieldTemplate_ArrayFieldTemplate'] {
			border-color: kv-color('neutral-6');
		}

		.ArrayItemContainer .ItemPrefix {
			color: kv-color('neutral-2');
		}
	}
}
