@use 'node_modules/@kelvininc/ui-components/dist/assets/styles' as *;

.ArrayItemContainer [class*='ArrayFieldTemplate_ArrayFieldTemplate'] {
	border: 1px solid var(--modal-divider-default);
	border-width: 0 1px;
	padding: 0 var(--spacing-3xl);
	margin-left: var(--spacing-md);
}

.ArrayItemContainer {
	width: 100%;
	display: flex;
	align-items: center;

	.ItemPrefix {
		@include body-m-semibold;
		
		margin-right: var(--spacing-4xl);
		white-space: nowrap;
	}

	.ToolbarContainer {
		display: flex;
		padding-left: var(--spacing-3xl);
		gap: var(--spacing-xs);
	}
}

.FieldsetStyle {
	padding: var(--spacing-4xl) var(--spacing-xl) var(--spacing-xl);
	margin-top: var(--spacing-4xl);
	border: 1px solid var(--modal-divider-default);
	position: relative;

	.ArrayItemContainer {
		.ItemPrefix {
			position: absolute;
			top: 0;
			left: var(--spacing-xl);
			transform: translateY(-50%);
			background-color: inherit;
			padding: 0 var(--spacing-xs);
			margin: 0;
		}

		.ToolbarContainer {
			position: absolute;
			top: 0;
			right: var(--spacing-xl);
			transform: translateY(-50%);
			background-color: inherit;
			padding: 0 var(--spacing-xs);
			margin: 0;
		}
	}
}

body {
	.ArrayItemContainer [class*='ArrayFieldTemplate_ArrayFieldTemplate'] {
		border-color: var(--modal-divider-default);
	}

	/* stylelint-disable-next-line no-descending-specificity */
	.ArrayItemContainer .ItemPrefix {
		color: var(--text-container-neutral-default);
	}
}
