@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --dropdown-list-max-height: Dropdown list maximum height.
	 * @prop --dropdown-list-background-color: Dropdown list background color.
	 * @prop --dropdown-list-border-color: Dropdown list border color.
	 */

	--dropdown-list-max-height: auto;
	--dropdown-list-background-color: #{kv-color('neutral-7')};
	--dropdown-list-border-color: #{kv-color('neutral-6')};

	.dropdown-list-container {
		border-radius: $spacing;
		border: 1px solid var(--dropdown-list-border-color);
		overflow: hidden;
		background-color: var(--dropdown-list-background-color);
	}
	
	.dropdown-list-items-container {
		max-height: var(--dropdown-list-max-height);
		overflow-y: auto;
	}
	
	.dropdown-list-header-container {
		padding: $spacing-3x $spacing-4x;
		border-bottom: 1px solid var(--dropdown-list-border-color);
	}
	
	.selection-clear {
		@include kv-font-span-regular;
		user-select: none;
		margin-top: $spacing-3x;
		color: kv-color('neutral-2');
		cursor: pointer;
	
		&.disabled {
			color: kv-color('neutral-5');
			cursor: auto;
		}
	}
}


