@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --image-width: The illustration image width.
	 * @prop --image-height: The illustration image height.
	 * @prop --header-color: The illustration header text color.
	 * @prop --description-color: The illustration description text color.
	 */
	--image-width: 60px;
	--image-height: auto;
	--header-color: var(--text-surface-neutral-secondary, #{kv-color('neutral-2')});
	--description-color: var(--text-surface-neutral-tertiary, #{kv-color('neutral-4')});
}

.illustration-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image {
	margin-bottom: var(--spacing-xl, #{$spacing-3x});
	--illustration-width: var(--image-width);
	--illustration-height: var(--image-height);
}

.header {
	color: var(--header-color);
	text-align: center;
	@include body-m-semibold;
}

.description {
	color: var(--description-color);
	text-align: center;
	@include body-s-regular;
	white-space: break-spaces;
	margin-top: var(--spacing-xs, #{$spacing});
}
