.InputContainer {
	display: flex;
	flex-direction: column;

	&.HasErrors {
		min-height: 59px;
		justify-content: end;
	}

	&.HasLabel:not(.HasErrors):not(.HasDescription) {
		min-height: 81px;
		justify-content: top;
	}
}
