@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --select-option-height: Select option height.
	 * @prop --select-option-transition-duration: Select option transition time.
	 * @prop --select-option-flex-alignment: The alignment of items within the component's container.
	 * @prop --select-option-background-color: Select option background color.
	 * @prop --select-option-background-color-selected: Select option background color when selected.
	 * @prop --select-option-background-color-hover: Select option background color when hovered.
	 * @prop --select-option-label-color: Select option label color.
	 * @prop --select-option-label-color-selected: Select option label color when selected.
	 */

	--select-option-height: 32px;
	--select-option-transition-duration: 100ms;
	--select-option-flex-alignment: center;
	--select-option-justify-content: flex-start;

	--select-option-background-color: #{kv-color('neutral-7')};
	--select-option-background-color-selected: #{kv-color('neutral-6')};
	--select-option-background-color-hover: #{kv-color('neutral-6')};

	--select-option-label-color: #{kv-color('neutral-4')};
	--select-option-label-color-selected: #{kv-color('neutral-2')};
}

.select-option {
	height: var(--select-option-height);
	padding: 0 $spacing-4x;
	display: flex;
	justify-content: var(--select-option-justify-content);
	user-select: none;
	cursor: pointer;
	background-color: var(--select-option-background-color);
	transition: background-color var(--select-option-transition-duration) linear;

	.label-wrapper {
		display: flex;
		align-items: var(--select-option-flex-alignment);
	}

	.text-container {
		display: flex;
		flex-direction: column;
		min-width: 0;

		.item-label {
			@include kv-font-span-regular;
			transition: font-weight var(--select-option-transition-duration) linear;
			color: var(--select-option-label-color);
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	&.selected {
		background-color: var(--select-option-background-color-selected);

		.item-label {
			@include kv-font-span-semibold;
			color: var(--select-option-label-color-selected);
		}
	}

	&:hover {
		background-color: var(--select-option-background-color-hover);
	}

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&.has-bottom-slot {
		padding: $spacing-2x $spacing-3x;
	}

	kv-checkbox {
		margin-right: $spacing-2x;
	}
}
