@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --select-option-height: Select option height.
	 * @prop --select-option-transition-duration: Select option transition time.
	 * @prop --select-option-background-color: Select option background color.
	 * @prop --select-option-background-color-selected: Select option background color when selected.
	 * @prop --select-option-background-color-highlighted: Select option background color when highlighted.
	 * @prop --select-option-background-color-hover: Select option background color when hovered.
	 * @prop --select-option-label-color: Select option label color.
	 * @prop --select-option-label-color-selected: Select option label color when selected.
	 * @prop --select-option-label-color-highlighted: Select option label color when highlighted.
	 * @prop --select-option-label-color-hover: Select option label color when hover.
	 * @prop --select-option-description-color: Select option description color.
	 * @prop --select-option-description-color-selected: Select option description color when selected.
	 * @prop --select-option-description-color-highlighted: Select option description color when highlighted.
	 * @prop --select-option-description-color-hover: Select option description color when hover.
	 * @prop --select-option-icon-size: Select option icon size in pixels.
	 * @prop --select-option-icon-color: Select option icon color.
	 * @prop --select-option-right-icon-size: Select option right icon size in pixels.
	 * @prop --select-option-right-icon-color: Select option right icon color.
	 */

	--select-option-height: 32px;
	--select-option-transition-duration: 100ms;

	--select-option-background-color: #{kv-color('neutral-7')};
	--select-option-background-color-selected: #{kv-color('neutral-6')};
	--select-option-background-color-highlighted: #{kv-color('neutral-6')};
	--select-option-background-color-hover: #{kv-color('neutral-6')};

	--select-option-label-color: #{kv-color('neutral-4')};
	--select-option-label-color-selected: #{kv-color('neutral-1')};
	--select-option-label-color-highlighted: #{kv-color('neutral-2')};
	--select-option-label-color-hover: #{kv-color('neutral-2')};
	--select-option-description-color: #{kv-color('neutral-4')};
	--select-option-description-color-selected: #{kv-color('neutral-4')};
	--select-option-description-color-highlighted: #{kv-color('neutral-4')};
	--select-option-description-color-hover: #{kv-color('neutral-4')};
	--select-option-icon-size: 16px;
	--select-option-icon-color: #{kv-color('neutral-0')};
	--select-option-right-icon-size: 16px;
	--select-option-right-icon-color: #{kv-color('neutral-4')};
}

.select-option {
	height: var(--select-option-height);
	display: flex;
	flex-direction: row;
	align-items: center;
	user-select: none;
	cursor: pointer;
	background-color: var(--select-option-background-color);
	transition: background-color var(--select-option-transition-duration) linear;
	padding-right: $spacing-4x;
	padding-left: calc(var(--level-padding-offset) + #{$spacing-4x});

	.text-container {
		flex: 1;
		min-width: 0;
		display: flex;
		align-items: center;
		gap: $spacing-2x;
	}

	.left-content {
		flex: 1;
		min-width: 0;
		display: flex;
		align-items: center;
		gap: $spacing;
	}

	.right-content {
		display: flex;
		align-items: center;
		gap: $spacing-2x;
	}

	.icon-container {
		margin-right: $spacing-2x;

		kv-icon {
			--icon-width: var(--select-option-icon-size);
			--icon-height: var(--select-option-icon-size);
			--icon-color: var(--select-option-icon-color);
		}
	}

	.item-label {
		@include ellipsis();
		@include kv-font-span-regular;
		transition: font-weight var(--select-option-transition-duration) linear;
		color: var(--select-option-label-color);
	}

	.item-description {
		@include kv-font-label-small-regular;
		color: var(--select-option-description-color);
	}

	.item-right-icon kv-icon {
		--icon-color: var(--select-option-right-icon-color);
	}

	.group {
		display: flex;
		flex-direction: row;
		gap: $spacing;
		align-items: center;
	}

	&--selected {
		background-color: var(--select-option-background-color-selected);

		.item-label {
			@include kv-font-span-semibold;
			color: var(--select-option-label-color-selected);
		}

		.item-description {
			@include kv-font-label-small-semibold;
			color: var(--select-option-description-color-selected);
		}
	}

	&:not(.select-option--disabled)
	&:hover {
		background-color: var(--select-option-background-color-hover);

		.item-label {
			color: var(--select-option-label-color-hover);
		}

		.item-description {
			color: var(--select-option-description-color-hover);
		}
	}

	&--highlighted {
		background-color: var(--select-option-background-color-highlighted);

		.item-label {
			@include kv-font-span-semibold;
			color: var(--select-option-label-color-highlighted);
		}

		.item-description {
			@include kv-font-label-small-semibold;
			color: var(--select-option-description-color-highlighted);
		}
	}

	&--disabled {
		cursor: auto;
		opacity: 0.5;
	}

	&:not(.select-option--selectable) {
		pointer-events: none;
		user-select: none;
	}

	&--heading {
		.item-label {
			@include kv-font-label-xsmall-uppercase-semibold;
			color: kv-color('neutral-2');
		}

		.text-container .left-content::after {
			content: '';
			display: flex;
			flex: 1;
			height: 1px;
			background: kv-color('neutral-6');
			margin-left: $spacing-2x;
		}
	}

	kv-checkbox {
		--checkbox-icon-size: 12px;
		margin-right: $spacing-2x;
	}
}
