@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --select-option-height: Select option height.
	 * @prop --select-option-transition-duration: Select option transition time.
	 * @prop --select-option-background-color: Select option background color.
	 * @prop --select-option-background-color-selected: Select option background color when selected.
	 * @prop --select-option-background-color-highlighted: Select option background color when highlighted.
	 * @prop --select-option-background-color-hover: Select option background color when hovered.
	 * @prop --select-option-background-color-disabled: Select option background color when disabled.
	 * @prop --select-option-label-color: Select option label color.
	 * @prop --select-option-label-color-selected: Select option label color when selected.
	 * @prop --select-option-label-color-highlighted: Select option label color when highlighted.
	 * @prop --select-option-label-color-hover: Select option label color when hovered.
	 * @prop --select-option-label-color-disabled: Select option label color when disabled.
	 * @prop --select-option-description-color: Select option description color.
	 * @prop --select-option-description-color-selected: Select option description color when selected.
	 * @prop --select-option-description-color-highlighted: Select option description color when highlighted.
	 * @prop --select-option-description-color-hover: Select option description color when hovered.
	 * @prop --select-option-description-color-disabled: Select option description color when disabled.
	 * @prop --select-option-icon-size: Select option icon size.
	 * @prop --select-option-icon-color: Select option icon color.
	 * @prop --select-option-icon-color-selected: Select option icon color when selected.
	 * @prop --select-option-icon-color-highlighted: Select option icon color when highlighted.
	 * @prop --select-option-icon-color-hover: Select option icon color when hovered.
	 * @prop --select-option-icon-color-disabled: Select option icon color when disabled.
	 * @prop --select-option-right-icon-size: Select option right icon size.
	 * @prop --select-option-right-icon-color: Select option right icon color.
	 * @prop --select-option-right-icon-color-selected: Select option right icon color when selected.
	 * @prop --select-option-right-icon-color-highlighted: Select option right icon color when highlighted.
	 * @prop --select-option-right-icon-color-hover: Select option right icon color when hovered.
	 * @prop --select-option-right-icon-color-disabled: Select option right icon color when disabled.
	 */

	--select-option-height: 32px;
	--select-option-transition-duration: 100ms;

	--select-option-background-color: var(--transparent);
	--select-option-background-color-selected: var(--background-interactive-slider-list-selected);
	--select-option-background-color-highlighted: var(--background-interactive-slider-list-hover);
	--select-option-background-color-hover: var(--background-interactive-slider-list-hover);
	--select-option-background-color-disabled: var(--transparent);

	--select-option-label-color: var(--text-interactive-slider-list-default);
	--select-option-label-color-selected: var(--text-interactive-slider-list-selected);
	--select-option-label-color-highlighted: var(--text-interactive-slider-list-hover);
	--select-option-label-color-hover: var(--text-interactive-slider-list-hover);
	--select-option-label-color-disabled: var(--text-interactive-slider-list-disabled);

	--select-option-description-color: var(--text-on-color-neutral-tertiary);
	--select-option-description-color-selected: var(--text-on-color-neutral-tertiary);
	--select-option-description-color-highlighted: var(--text-on-color-neutral-tertiary);
	--select-option-description-color-hover: var(--text-on-color-neutral-tertiary);
	--select-option-description-color-disabled: var(--text-on-color-neutral-disabled);

	--select-option-icon-color: var(--icon-interactive-slider-list-default);
	--select-option-icon-color-selected: var(--icon-interactive-slider-list-selected);
	--select-option-icon-color-highlighted: var(--icon-interactive-slider-list-hover);
	--select-option-icon-color-hover: var(--icon-interactive-slider-list-hover);
	--select-option-icon-color-disabled: var(--icon-interactive-slider-list-disabled);

	--select-option-right-icon-color: var(--icon-interactive-slider-list-default);
	--select-option-right-icon-color-selected: var(--icon-interactive-slider-list-selected);
	--select-option-right-icon-color-highlighted: var(--icon-interactive-slider-list-hover);
	--select-option-right-icon-color-hover: var(--icon-interactive-slider-list-hover);
	--select-option-right-icon-color-disabled: var(--icon-interactive-slider-list-disabled);

	--select-option-icon-size: var(--size-default);
	--select-option-right-icon-size: var(--size-default);
}

.select-option {
	height: var(--select-option-height);
	display: flex;
	flex-direction: row;
	align-items: center;
	user-select: none;
	cursor: pointer;
	background-color: var(--select-option-background-color);
	transition: background-color var(--select-option-transition-duration) linear;
	padding-right: var(--spacing-2xl);
	/* stylelint-disable-next-line csstools/value-no-unknown-custom-properties -- vars defined by parent component */
	padding-left: calc(var(--level-padding-offset) + var(--spacing-2xl));

	.text-container {
		flex: 1;
		min-width: 0;
		display: flex;
		align-items: center;
		gap: var(--spacing-md);
	}

	.left-content {
		flex: 1;
		min-width: 0;
		display: flex;
		align-items: center;
		gap: var(--spacing-xs);

		kv-tooltip {
			max-width: 100%;
		}
	}

	.right-content {
		display: flex;
		align-items: center;
		gap: var(--spacing-md);
	}

	.icon-container {
		margin-right: var(--spacing-md);

		kv-icon {
			--icon-width: var(--select-option-icon-size);
			--icon-height: var(--select-option-icon-size);
			--icon-color: var(--select-option-icon-color);
		}
	}

	.item-label {
		@include ellipsis();
		@include body-m-regular;
		transition: font-weight var(--select-option-transition-duration) linear;
		color: var(--select-option-label-color);
	}

	.item-description {
		@include body-s-regular;
		color: var(--select-option-description-color);
	}

	.item-right-icon kv-icon {
		--icon-color: var(--select-option-right-icon-color);
	}

	.group {
		display: flex;
		flex-direction: row;
		gap: var(--spacing-xs);
		align-items: center;
	}

	&:not(.select-option--disabled):not(.select-option--selected):hover {
		background-color: var(--select-option-background-color-hover);

		.item-label {
			color: var(--select-option-label-color-hover);
		}

		.item-description {
			color: var(--select-option-description-color-hover);
		}

		.icon-container kv-icon {
			--icon-color: var(--select-option-icon-color-hover);
		}

		.item-right-icon kv-icon {
			--icon-color: var(--select-option-right-icon-color-hover);
		}
	}

	&--selected {
		background-color: var(--select-option-background-color-selected);

		.item-label {
			@include body-m-semibold;
			color: var(--select-option-label-color-selected);
		}

		.item-description {
			color: var(--select-option-description-color-selected);
		}

		.icon-container kv-icon {
			--icon-color: var(--select-option-icon-color-selected);
		}

		.item-right-icon kv-icon {
			--icon-color: var(--select-option-right-icon-color-selected);
		}
	}

	&--highlighted {
		background-color: var(--select-option-background-color-highlighted);

		.item-label {
			@include body-m-semibold;
			color: var(--select-option-label-color-highlighted);
		}

		.item-description {
			color: var(--select-option-description-color-highlighted);
		}

		.icon-container kv-icon {
			--icon-color: var(--select-option-icon-color-highlighted);
		}

		.item-right-icon kv-icon {
			--icon-color: var(--select-option-right-icon-color-highlighted);
		}
	}

	&--disabled {
		@include non-clickable;
		background-color: var(--select-option-background-color-disabled);

		.item-label {
			color: var(--select-option-label-color-disabled);
		}

		.item-description {
			color: var(--select-option-description-color-disabled);
		}

		.icon-container kv-icon {
			--icon-color: var(--select-option-icon-color-disabled);
		}

		.item-right-icon kv-icon {
			--icon-color: var(--select-option-right-icon-color-disabled);
		}
	}

	&:not(.select-option--selectable) {
		pointer-events: none;
		user-select: none;
	}

	&--heading {
		.item-label {
			@include body-m-regular;
			color: var(--text-on-color-neutral-tertiary);
		}

		.text-container .left-content::after {
			@include kelvin-horizontal-divider(var(--border-on-color-neutral-default));

			margin-left: var(--spacing-md);
		}
	}

	&--with-checkbox {
		kv-checkbox {
			margin-right: var(--spacing-xs);
		}
	}
}
