@use '../../assets/styles' as *;

:host {
	/**
	  * @prop --container-white-space: The white space strategy for the tooltip container (default: normal).
	  * @prop --container-max-width: The max width for the tooltip container (default: 240px).
	 */

	--container-white-space: normal;
	--container-width: fit-content;
	--container-max-width: 280px;

	--container-background-color: var(--tooltip-background-default);
}

.tooltip-container {
	height: fit-content;
	width: var(--container-width);
	max-width: var(--container-max-width);
	display: inline-block;
	word-wrap: break-word;
	background-color: var(--container-background-color);
	user-select: none;
	border-radius: var(--tooltip-radius-default);
	padding: var(--tooltip-padding-y-default) var(--tooltip-padding-x-default);
	white-space: var(--container-white-space);

	.tooltip-text {
		@include body-m-semibold();
		color: var(--tooltip-text-default);
	}
}
