@import '../../assets/styles/globals';

:host {
	/**
	  * @prop --container-white-space: The white space strategy for the tooltip container (default: normal).
	  * @prop --container-max-width: The max width for the tooltip container (default: 240px).
	 */

	--container-white-space: normal;
	--container-max-width: 240px;
}

.tooltip-container {
	@include kv-font-span-semibold();
	height: fit-content;
	width: fit-content;
	max-width: var(--container-max-width);
	word-wrap: break-word;
	color: kv-color('neutral-0');
	background-color: kv-color('neutral-6');
	box-shadow: 0 8px 16px -4px kv-color('neutral-6', 'base', 0.25), 0 0 1px 0 kv-color('neutral-3', 'base', 0.31);
	pointer-events: none;
	user-select: none;
	border-radius: 2px;
	padding: $spacing $spacing-2x;
	white-space: var(--container-white-space);
}
