@import '../../assets/styles/globals';

:host {
	/**
	  * @prop --container-white-space: The white space strategy for the tooltip container (default: normal).
	  * @prop --container-max-width: The max width for the tooltip container (default: 240px).
	 */

	--container-white-space: normal;
	--container-width: fit-content;
	--container-max-width: 280px;
}


.tooltip-container {
	height: fit-content;
	width: var(--container-width);
	max-width: var(--container-max-width);
	display: inline-block;
	word-wrap: break-word;
	background-color: kv-color('neutral-0');
	box-shadow: 0 12px 24px -8px kv-color('text', 'base', 0.16), 0 0 1px 0 kv-color('text', 'base', 0.08);
	user-select: none;
	border-radius: 2px;
	padding: $spacing $spacing-2x;
	white-space: var(--container-white-space);

	.tooltip-text {
		@include kv-font-span-semibold();
		color: kv-color('text', 'step-2');
	}
}
