@use '../../assets/styles' as *;

.inline-editable-field-container {
	display: inline-flex;
	align-items: center;
	width: 100%;

	/**
	* @prop --margin-top-bottom: Margin top and bottom of the editable container.
	* @prop --margin-left-right: Margin left and right of the editable container.
	* @prop --hover-background: Background color of the editable container on hover.
	* @prop --focus-background: Background color of the editable container on focus.
	* @prop --focus-outline-color: Outline color of the editable container on focus.
	* @prop --focus-outline-width: Outline width of the editable container on focus.
	* @prop --border-radius: Border radius of the editable container.
	*/
	--margin-top-bottom: #{$spacing};
	--margin-left-right: #{$spacing-2x};
	--hover-background: kv-color('neutral-8');
	--focus-background: kv-color('neutral-8');
	--focus-outline-width: 1px;
	--focus-outline-color: kv-color('neutral-2');
	--border-radius: 4px;

	&__hover .inline-editable-field-slot {
		border-radius: var(--border-radius);
		background: var(--hover-background);
	}
}

.inline-editable-field-slot {
	&[contenteditable] {
		padding: var(--margin-top-bottom) var(--margin-left-right);
		margin: calc(var(--margin-top-bottom) * -1) calc(var(--margin-left-right) * -1);
		white-space: nowrap;
		overflow: hidden;
		outline: var(--focus-outline-width) solid transparent;
		transition: all 0.25s ease-in-out;

		&:hover {
			background: var(--hover-background);
		}

		&:focus {
			background: var(--focus-background);
			outline-color: var(--focus-outline-color);
			text-overflow: unset;
		}

		&:focus,
		&:hover {
			border-radius: var(--border-radius);
		}
	}

	br {
		display: none;
	}

	* {
		display: inline;
		white-space: nowrap;
	}
}

.inline-editable-field-actions {
	display: inline-flex;
	gap: $spacing;
	flex: 0;
	margin-left: calc(var(--margin-left-right) + $spacing-2x);

	&__focus {
		width: 64px;
		align-self: flex-end;
		margin-bottom: calc(var(--margin-left-right) * -1);
	}
}
