@use 'node_modules/@kelvininc/ui-components/dist/assets/styles' as *;

.ErrorListContainer {
	border-bottom: 1px solid var(--border-container-divider-default);
	padding: 0 var(--spacing-xl) var(--spacing-xl) var(--spacing-md);
	margin-bottom: var(--spacing-xl);
}
