@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --calendar-day-text-color-default: Text color when state is default.
	 * @prop --calendar-day-text-color-hover: Text color when state is hover.
	 * @prop --calendar-day-text-color-active: Text color when state is active.
	 * @prop --calendar-day-text-color-in-range: Text color when state is in-range.
	 * @prop --calendar-day-text-color-active-hover: Text color when state is active and cursor is on hover.
	 * @prop --calendar-day-text-color-disabled: Text color when state is disabled.
	 * @prop --calendar-day-background-color-default: Background color when state is default.
	 * @prop --calendar-day-background-color-hover: Background color when state is hover.
	 * @prop --calendar-day-background-color-active: Background color when state is active.
	 * @prop --calendar-day-background-color-in-range: Background color when state is in range.
	 * @prop --calendar-day-background-color-active-hover: Background color when state is active and cursor is on hover.
	 * @prop --calendar-day-background-color-disabled: Background color when state is disabled.
	 * @prop --calendar-day-width: The calendar container width.
	 * @prop --calendar-day-height: The calendar container height.
	 */

	--calendar-day-width: 32px;
	--calendar-day-height: 32px;
}

.calendar-day {
	@include kv-font-span-regular;
	width: var(--calendar-day-width);
	height: var(--calendar-day-height);

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--calendar-day-background-color-default);
	color: var(--calendar-day-text-color-default);

	user-select: none;
	cursor: pointer;

	&:hover:not(.calendar-day--disabled):not(.calendar-day--active) {
		background-color: var(--calendar-day-background-color-hover);
		color: var(--calendar-day-text-color-hover);

		border-radius: 2px;
	}

	&--in-range:not(.calendar-day--disabled):not(.calendar-day--active) {
		background-color: var(--calendar-day-background-color-in-range);
		color: var(--calendar-day-text-color-in-range);
	}

	&--active:not(.calendar-day--disabled) {
		background-color: var(--calendar-day-background-color-active);
		color: var(--calendar-day-text-color-active);

		&:hover {
			background-color: var(--calendar-day-background-color-active-hover);
			color: var(--calendar-day-text-color-active-hover);
		}
	}

	&--left-rounded:not(.calendar-day--disabled) {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}

	&--right-rounded:not(.calendar-day--disabled) {
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	&--disabled {
		cursor: not-allowed;

		background-color: var(--calendar-day-background-color-disabled);
		color: var(--calendar-day-text-color-disabled);
	}
}
