@import '../../assets/styles/globals';

:host {
	--day-width: 28px;
	--day-height: 28px;
}

.calendar-day {
	@include kv-font-label-small-regular;
	width: var(--day-width);
	height: var(--day-height);

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
	color: kv-color('neutral-4');

	user-select: none;
	cursor: pointer;

	&:hover:not(.calendar-day--disabled):not(.calendar-day--active) {
		background-color: kv-color('info', 'base', 0.16);
	}

	&--today:not(.calendar-day--disabled) {
		border: 1px solid kv-color('neutral-5');
		width: calc(var(--day-width) - 2px);
		height: calc(var(--day-height) - 2px);
	}

	&--in-range:not(.calendar-day--disabled) {
		background-color: kv-color('info', 'base', 0.16);
	}

	&--active:not(.calendar-day--disabled) {
		background-color: kv-color('primary', 'dark');
		color: kv-color('neutral-2');

		&:hover {
			background-color: kv-color('info', 'base', 0.16);
			color: kv-color('neutral-4');
		}
	}

	&--range-start:not(.calendar-day--disabled) {
		background-color: kv-color('primary', 'dark');
		color: kv-color('neutral-2');
	}

	&--range-end:not(.calendar-day--disabled) {
		background-color: kv-color('primary', 'dark');
		color: kv-color('neutral-2');
	}

	&--between-dates:not(.calendar-day--disabled) {
		background-color: kv-color('info', 'base', 0.16);
		color: kv-color('neutral-4');
	}

	&--disabled {
		cursor: not-allowed;

		color: kv-color('neutral-5');
	}
}