@use '../../assets/styles' as *;

:host {
	--day-width: 28px;
	--day-height: 28px;
}

.calendar-day {
	@include body-s-regular;
	width: var(--day-width);
	height: var(--day-height);

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
	color: var(--text-container-neutral-subtle);

	user-select: none;
	cursor: pointer;

	&:hover:not(.calendar-day--disabled):not(.calendar-day--active) {
		background-color: var(--background-interactive-calendar-hover);
	}

	&--today:not(.calendar-day--disabled) {
		border: 1px solid var(--border-container-neutral-subtlest);
		width: calc(var(--day-width) - 2px);
		height: calc(var(--day-height) - 2px);
	}

	&--in-range:not(.calendar-day--disabled) {
		background-color: var(--background-interactive-calendar-selected-middle);
	}

	&--active:not(.calendar-day--disabled) {
		background-color: var(--background-interactive-calendar-selected);
		color: var(--text-container-neutral-default);

		&:hover {
			background-color: var(--background-interactive-calendar-hover);
			color: var(--text-container-neutral-subtle);
		}
	}

	&--range-start:not(.calendar-day--disabled) {
		background-color: var(--background-interactive-calendar-selected);
		color: var(--text-container-neutral-default);
	}

	&--range-end:not(.calendar-day--disabled) {
		background-color: var(--background-interactive-calendar-selected);
		color: var(--text-container-neutral-default);
	}

	&--between-dates:not(.calendar-day--disabled) {
		background-color: var(--background-interactive-calendar-hover);
		color: var(--text-container-neutral-subtle);
	}

	&--disabled {
		cursor: not-allowed;

		color: var(--text-container-neutral-disabled);
	}
}