@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --range-width: Width of the range slider
	 * @prop --slider-background-filled: color of the slider when its full
	 * @prop --slider-background-empty: color of the slider when its empty
	*/

	--range-width: 100%;
	--range-height: 12px;
	--button-selector-width: 20px;
	--button-selector-height: 20px;
	--slider-background-filled: #{kv-color('primary')};
	--slider-background-empty: #{kv-color('neutral-9')};
}

.range-container {
	width: var(--range-width);
	margin: 24% auto;
	position: relative;
}

.range-min-max {
	@include kv-font-label-small-regular;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: kv-color('neutral-5');
	margin-top: $spacing-4x;
	user-select: none;
}

.slider {
	width: var(--range-width);
	height: var(--range-height);
	outline: none;
	margin: 0;
	border-radius: $spacing;
	background: var(--slider-background-empty);
	user-select: none;

	&::-webkit-slider-thumb {
		border: calc($spacing - 1px) solid kv-color('neutral-0');
		height: calc(var(--button-selector-height) + 5px);
		width: calc(var(--button-selector-width) + 5px);
		border-radius: 50%;
		background: var(--slider-background-filled);
		cursor: pointer;
		appearance: none;
	}

	&::-moz-range-thumb {
		border: $spacing solid kv-color('neutral-0');
		height: var(--button-selector-height);
		width: var(--button-selector-width);
		border-radius: 50%;
		background: var(--slider-background-filled);
		cursor: pointer;
		appearance: none;
	}
}

.select-value {
	@include kv-font-h1-semibold;
	width: 48px;
	height: 48px;
	top: -68px;
	transform: translateX(-50%);
	position: absolute;
	background-color: transparent;
	text-align: center;
	color: kv-color('neutral-2');
}

input {
	appearance: none;
}
