@import '../../assets/styles/globals';
@import './range.base';

:host {
	--slider-background-filled: #{kv-color('primary')};
	--slider-background-empty: #{kv-color('neutral-9')};
	--thumb-border-color: #{kv-color('neutral-0')};
	--range-label-color: #{kv-color('neutral-5')};
	--select-label-color: #{kv-color('neutral-2')};
}
