@import '../../assets/styles/globals';
@import './range.base';

:host {
	--slider-background-filled: #{kv-color('primary')};
	--slider-background-empty: #{kv-color('text', 'base', 0.35)};
	--thumb-border-color: #{kv-color('neutral-0')};
	--range-label-color: #{kv-color('text', 'step-6')};
	--select-label-color: #{kv-color('neutral-0')};
}
