@import '../../assets/styles/globals';

$label-height: 49px;

:host {
	/**
	 * @prop --range-width: Width of the range slider
	 * @prop --range-height: Height of the range slider
	 * @prop --range-selector-radius: Radius of the range thumb
	 * @prop --range-selector-border-radius: Border radius of the range thumb
	 * @prop --range-margin-top: Margin top of the range slider
	 * @prop --slider-background-filled: color of the slider when its full
	 * @prop --slider-background-empty: color of the slider when its empty
	 * @prop --thumb-background-color: thumb background color
	 * @prop --thumb-border-color: thumb border color
	 * @prop --range-label-color: range labels color
	 * @prop --select-label-color: select labels color
	*/

	--range-width: 100%;
	--range-height: 10px;
	--range-selector-radius: 20px;
}

.range-container {
	width: var(--range-width);
	margin-top: var(--range-margin-top, calc(var(--range-selector-radius) * 0.5));
	position: relative;

	&.has-label {
		margin-top: $label-height;
	}
}

.range-min-max {
	@include kv-font-span-regular;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: $spacing;
	user-select: none;
	color: var(--range-label-color);
}

.slider {
	width: calc(var(--range-width) - 2px);
	height: var(--range-height);
	outline: none;
	margin: 0;
	border-radius: 6px;
	user-select: none;
	background: var(--slider-background-empty);
	border: 1px solid var(--slider-background-empty);

	&::-webkit-slider-thumb {
		border: var(--range-selector-border-radius, calc($spacing - 1px)) solid var(--thumb-border-color);
		background: var(--thumb-background-color, var(--slider-background-filled));
		height: calc(var(--range-selector-radius) + 5px);
		width: calc(var(--range-selector-radius) + 5px);
		border-radius: 50%;
		cursor: pointer;
		appearance: none;
	}

	&::-moz-range-thumb {
		border: var(--range-selector-border-radius, $spacing) solid var(--thumb-border-color);
		background: var(--thumb-background-color, var(--slider-background-filled));
		height: var(--range-selector-radius);
		width: var(--range-selector-radius);
		border-radius: 50%;
		cursor: pointer;
		appearance: none;
	}

	&:disabled::-webkit-slider-thumb {
		cursor: not-allowed;
		user-select: none;
	}
}

.select-value {
	@include kv-font-h2-semibold;
	top: calc(-1 * $label-height);
	transform: translateX(-50%);
	position: absolute;
	background-color: transparent;
	text-align: center;
	color: var(--select-label-color);
}

input {
	appearance: none;
}
