@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --range-width: Width of the range slider
	 * @prop --range-height: Height of the range slider
	 * @prop --range-selector-radius: Radius of the range thumb
	 * @prop --slider-background-filled: color of the slider when its full
	 * @prop --slider-background-empty: color of the slider when its empty
	 * @prop --thumb-border-color: thumb border color
	 * @prop --range-label-color: range labels color
	 * @prop --select-label-color: select labels color
	*/

	--range-width: 100%;
	--range-height: 12px;
	--range-selector-radius: 20px;
}

.range-container {
	width: var(--range-width);
	margin: 24% auto;
	position: relative;
}

.range-min-max {
	@include kv-font-label-small-regular;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: $spacing-4x;
	user-select: none;
	color: var(--range-label-color);
}

.slider {
	width: var(--range-width);
	height: var(--range-height);
	outline: none;
	margin: 0;
	border-radius: $spacing;
	user-select: none;
	background: var(--slider-background-empty);

	&::-webkit-slider-thumb {
		border: calc($spacing - 1px) solid var(--thumb-border-color);
		background: var(--slider-background-filled);
		height: calc(var(--range-selector-radius) + 5px);
		width: calc(var(--range-selector-radius) + 5px);
		border-radius: 50%;
		cursor: pointer;
		appearance: none;
	}

	&::-moz-range-thumb {
		border: $spacing solid var(--thumb-border-color);
		background: var(--slider-background-filled);
		height: var(--range-selector-radius);
		width: var(--range-selector-radius);
		border-radius: 50%;
		cursor: pointer;
		appearance: none;
	}
}

.select-value {
	@include kv-font-h1-semibold;
	height: 48px;
	top: -68px;
	transform: translateX(-50%);
	position: absolute;
	background-color: transparent;
	text-align: center;
	color: var(--select-label-color);
}

input {
	appearance: none;
}
