@use '../../assets/styles' as *;

:host {
	.link-container {
		display: flex;
		flex-direction: column;

		.label {
			@include body-m-semibold();
			text-decoration: none;
			user-select: none;
			color: kv-color('text');
			cursor: pointer;

			&:hover {
				color: kv-color('primary');
				text-decoration: underline;
			}
		}

		.subtitle {
			@include body-s-regular();
			color: kv-color('text');
		}
	}
}
