.InputContainer {
	display: flex;
	flex-direction: column;

	kv-multi-select-dropdown,
	kv-single-select-dropdown {
		kv-dropdown kv-text-field {
			--input-width: auto;
			--input-min-width: auto;
			--input-max-width: auto;
		}
	}
}
