@import '../../assets/styles/globals';

// map sizes
$btn-heights: (
	'small': 16px,
	'large': 20px
);
$btn-widths: (
	'small': 32px,
	'large': 40px
);
$sqr-sizes: (
	'small': 11px,
	'large': 16px
);
$sqr-paddings-x: (
	'small': 2.5px,
	'large': 2px
);
$sqr-paddings-y: (
	'small': 2.5px,
	'large': 2px
);
$icon-sizes: (
	'small': 8px,
	'large': 12px
);

@function get-sqr-x-translation($button-width, $square-size, $square-padding-x) {
	@return $button-width - $square-size - $square-padding-x * 2;
}

@mixin button-theme($size) {
	$btn-height: map-get($btn-heights, $size);
	$btn-width: map-get($btn-widths, $size);
	$sqr-size: map-get($sqr-sizes, $size);
	$sqr-padding-x: map-get($sqr-paddings-x, $size);
	$sqr-padding-y: map-get($sqr-paddings-y, $size);
	$sqr-size: map-get($sqr-sizes, $size);
	$icon-size: map-get($icon-sizes, $size);

	height: $btn-height;
	width: $btn-width;
	padding: $sqr-padding-y $sqr-padding-x;

	.icon-square {
		height: $sqr-size;
		width: $sqr-size;

		kv-icon {
			--icon-width: #{$icon-size};
			--icon-height: unset;
		}
	}

	&.switch-button--on .icon-square {
		$translation-x: get-sqr-x-translation($btn-width, $sqr-size, $sqr-padding-x);
		transform: translateX($translation-x);
	}
}

:host {
	/**
	 * @prop --label-text-color: Label text color.
	 * @prop --off-background-color: Button background color when's OFF.
	 * @prop --on-background-color: Button background color when's ON.
	 * @prop --sqr-background-color: Icon square container background color.
	 */

	--label-text-color: #{kv-color('neutral-4')};
	--off-background-color: #{kv-color('neutral-5')};
	--on-background-color: #{kv-color('primary')};
	--sqr-background-color: #{kv-color('primary', 'contrast')};
}

.switch-button-container {
	display: inline-flex;
	align-items: center;

	user-select: none;
}

.label {
	@include kv-font-label-small-uppercase-semibold;
	flex-shrink: 0;
	color: var(--label-text-color);
	padding-right: $spacing-3x;
}

.switch-button {
	box-sizing: border-box;

	cursor: pointer;
	border-radius: 4px;

	background-color: var(--off-background-color);
	transition: background-color 0.3s ease-out;

	&--disabled {
		cursor: not-allowed;
		user-select: none;
	}

	&--on {
		background-color: var(--on-background-color);

		.icon-square kv-icon::part(icon) {
			fill: var(--on-background-color);
		}
	}

	&--large {
		@include button-theme('large');
	}

	&--small {
		@include button-theme('small');
	}
}

.icon-square {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	transition: transform 0.3s ease-out;
	border-radius: 2px;
	background-color: var(--sqr-background-color);

	font-size: 0;

	kv-icon {
		--icon-color: #{var(--off-background-color)};
	}
}
