@import 'node_modules/@kelvininc/ui-components/dist/assets/globals.scss';

.FieldWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;

	.TopDescription {
		padding-bottom: $spacing-4x;
	}
}
