@use '../../assets/styles' as *;

:host {
	/**
	 * @prop --stepper-width: defines in px how much space the stepper should take up
	*/
	--stepper-width: 100%;
}

.wizard-footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-2xl);

	.actions-container {
		display: flex;
		flex: 1;

		.wizard-stepper {
			width: var(--stepper-width);
			padding-right: var(--spacing-2xl);
		}
	}

	.buttons-container {
		display: flex;
		gap: var(--spacing-xl);
	}
}
