@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --illustration-height: Height of illustration
	 * @prop --illustration-width: Width of illustration
	 * @prop --illustration-color: Base color used in the illustration
	 * @prop --illustration-color-light-90: 90% lighter version of the illustration base color
	 * @prop --illustration-color-light-80: 80% lighter version of the illustration base color
	 * @prop --illustration-color-dark-55: 55% darker version of the illustration base color
	 * @prop --illustration-color-dark-35: 35% darker version of the illustration base color
	 * @prop --illustration-success-color: Success color used in the illustration
	 */
	--illustration-height: 200px;
	--illustration-width: 200px;

	max-width: 100%;
	max-height: 100%;
	display: flex;
}
