@import 'node_modules/@kelvininc/ui-components/dist/assets/styles/globals.scss';

.RadioListContainer {
	display: flex;
	flex-direction: column;
	column-gap: $spacing-5x;
	flex-wrap: wrap;
	margin-left: $spacing;

	&.Inline {
		flex-direction: row;
		column-gap: $spacing-2x;
	}

	.RadioOption {
		flex: 1;
		background-color: kv-color('neutral-7');
		border-radius: 4px;
		padding: 0 $spacing-4x;
		cursor: pointer;

		&.Checked {
			border: 1px solid kv-color('neutral-0');
		}

		&.Disabled {
			pointer-events: none;

			&.Checked {
				border-color: kv-color('neutral-6');
			}
		}
	}
}
