@import "node_modules/@kelvininc/ui-components/dist/assets/styles/globals.scss";

.title-container {
	margin-bottom: $spacing-2x; 
}

.props-container {
	display: flex;
	flex-direction: column;
	width: 100%;

	.prop-row {
		width: 100%;
		margin-bottom: $spacing-5x;

		&.hidden {
			display: none;
		}
	}

	.add-button-container {
		width: 100%;
		display: flex;
		justify-content: end;
	}
}
