@import "node_modules/@kelvininc/react-ui-components/assets/styles/globals.scss";

.TooltipCustomClass {
	--container-white-space: pre-line;
	--container-max-width: 480px;

	&::part(tooltip-container) {
		padding: $spacing-5x;
	}
}
