@use "@kelvininc/react-ui-components/assets/styles" as *;

.CustomDescriptionList {
	--description-list-row-extremes: var(--spacing-xl);
	--description-list-row-inline-padding: var(--spacing-xl);
	--description-list-row-align: center;

	border: 1px solid var(--border-surface-neutral-default);
	border-radius: var(--radius-md);

	:global {
		.row:not(:last-child) {
			border-bottom: 1px solid var(--border-surface-neutral-default);
		}
	}
}
