@use "sass:color";
@use '../assets/styles' as *;

.illustration {
	/* stylelint-disable csstools/value-no-unknown-custom-properties -- vars defined by parent component */
	width: var(--illustration-width);
	height: var(--illustration-height);
	/* stylelint-enable csstools/value-no-unknown-custom-properties -- vars defined by parent component */
	display: flex;
	
	&-full-size {
		width: 100%;
		height: 100%;
	}
}
