@use 'node_modules/@kelvininc/ui-components/dist/assets/styles' as *;

.FileWidgetContainer {
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-xl);
	align-items: center;

	.FilesInfo {
		flex: 1;
		min-width: 0;
	}

	.ActionsContainer {
		display: flex;
		gap: var(--spacing-md);
		align-items: center;
	}

	.FileInfoContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: var(--spacing-xl);

		.FileInfo {
			display: flex;
			border-radius: var(--radius-md);
			background-color: var(--background-container-neutral-subtle);
			border: 1px solid var(--input-border-color-default);
			padding: var(--spacing-xl);
			gap: var(--spacing-md);
			justify-content: space-between;

			.LeftContent {
				display: flex;
				flex: 1;
				min-width: 0;
				gap: var(--spacing-md);
			}

			kv-icon {
				--icon-color: var(--icon-surface-neutral-disabled);
				--icon-height: 40px;
				--icon-width: 40px;
			}

			.FileDetails {
				display: flex;
				flex-direction: column;
				flex: 1;
				min-width: 0;

				.Label {
					@include ellipsis;
					@include heading-xs-semibold-caps;

					color: var(--text-container-neutral-default);
				}

				.FileName {
					@include ellipsis;
					@include body-m-semibold;

					color: var(--text-surface-neutral-disabled);
				}
			}

			&.HasValue {
				kv-icon {
					--icon-color: var(--icon-surface-neutral-secondary);
				}

				/* stylelint-disable-next-line selector-max-class */
				.FileDetails .FileName {
					color: var(--text-surface-neutral-secondary);
				}
			}

			&.HasError {
				border: 1px solid var(--input-border-color-error);
			}
		}
	}
}
