@use '../../assets/styles' as *;

.time-range-input-container {
	display: flex;
	border-radius: var(--radius-md);
	width: 100%;
	align-items: flex-end;

	kv-date-time-input {
		width: calc(100% / 2);
	}
}

.single-input-container {
	border-radius: var(--radius-md);
}

.calendar-container {
	display: flex;
	gap: var(--spacing-3xl);
	border-radius: var(--radius-md);
	background-color: var(--background-container-elevated-slider);
	border: 1px solid var(--slider-border-color-default);
	padding: var(--spacing-3xl);
}
