@import '../../assets/styles/globals';

@mixin badge-state-theme($state) {
	$badge-text-color: var(--badge-text-color-#{$state});
	$badge-background-color: var(--badge-background-color-#{$state});

	color: $badge-text-color;
	background-color: $badge-background-color;
}

:host {
	/**
	 * @prop --badge-min-width: Badge's minimum width.
	 * @prop --badge-max-width: Badge's maximum width.
	 * @prop --badge-height: Badge's height.
	 * @prop --badge-width: Badge's width.
	 * @prop --badge-background-color-none: Badge's background color when state is none.
	 * @prop --badge-background-color-info: Badge's background color when state is info.
	 * @prop --badge-background-color-warning: Badge's background color when state is warning.
	 * @prop --badge-background-color-error: Badge's background color when state is error.
	 * @prop --badge-background-color-success: Badge's background color when state is success.
	 * @prop --badge-warning-text-color: Badge's text color when state is warning.
	 * @prop --badge-text-color-none: Badge's text color when state is none.
	 * @prop --badge-text-color-info: Badge's text color when state is info.
	 * @prop --badge-text-color-warning: Badge's text color when state is warning.
	 * @prop --badge-text-color-error: Badge's text color when state is error.
	 * @prop --badge-text-color-success: Badge's text color when state is success.
	 */

	--badge-min-width: 16px;
	--badge-max-width: fit-content;
	--badge-height: 16px;
	--badge-width: unset;
	--badge-background-color-none: #{kv-color('neutral-5')};
	--badge-text-color-none: #{kv-color('neutral-2')};
	--badge-background-color-info: #{kv-color('secondary-5')};
	--badge-text-color-info: #{kv-color('neutral-2')};
	--badge-background-color-warning: #{kv-color('warning')};
	--badge-text-color-warning: #{kv-color('neutral-0')};
	--badge-background-color-error: #{kv-color('error')};
	--badge-text-color-error: #{kv-color('neutral-0')};
	--badge-background-color-success: #{kv-color('success')};
	--badge-text-color-success: #{kv-color('neutral-0')};
}

.badge {
	@include kv-font-label-xsmall-regular;
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: var(--badge-min-width);
	max-width: var(--badge-max-width);
	height: var(--badge-height);
	width: var(--badge-width);
	padding: 0 $spacing;
	line-height: var(--badge-height);

	border-radius: 8px;

	&--state-none {
		@include badge-state-theme(none);
	}

	&--state-info {
		@include badge-state-theme(info);
	}

	&--state-warning {
		@include badge-state-theme(warning);
	}

	&--state-error {
		@include badge-state-theme(error);
	}

	&--state-success {
		@include badge-state-theme(success);
	}
}
