@import '../../assets/styles/globals';

.range-dates-select-dropdown {
	user-select: none;
}

.start-single-date-select-dropdown {
	margin-bottom: $spacing-5x;
}

.range-dates-select-dropdown-calendar-container {
	padding-top: $spacing-6x;
}
