@use "@kelvininc/react-ui-components/assets/styles" as *;

.TooltipCustomClass {
	--container-white-space: pre-line;
	--container-max-width: 480px;

	&::part(tooltip-container) {
		padding: var(--spacing-3xl);
	}
}
