@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --select-max-height: Select maximum height.
	 * @prop --select-background-color: Select background color.
	 * @prop --select-border: Select border style.
	 * @prop --select-border-radius: Select border radius.
	 */
	--select-max-height: auto;
	--select-background-color: #{kv-color('neutral-7')};
	--select-border: 1px solid #{kv-color('neutral-6')};
	--select-border-radius: #{$spacing};
}

.select-container {
	// TODO: need to change when this component is styled to light mode
	@include kelvin-night-scrollbar();

	border: var(--select-border);
	border-radius: var(--select-border-radius);
	overflow: hidden;
	background-color: var(--select-background-color);
}

.select-options-container {
	padding: $spacing-3x 0;
	max-height: var(--select-max-height);
	overflow-y: auto;
}

.select-header-container {
	display: flex;
	flex-direction: column;
	gap: $spacing-3x;
	padding: $spacing-3x $spacing-4x;
	border-bottom: var(--select-border);
}

.selection-clear {
	@include kv-font-span-regular;
	user-select: none;
	color: kv-color('neutral-2');
	cursor: pointer;

	&.disabled {
		color: kv-color('neutral-5');
		cursor: not-allowed;
	}
}
