@import '../../assets/styles/globals';

:host {
	/**
	 * @prop --select-max-height: Select maximum height.
	 * @prop --select-background-color: Select background color.
	 * @prop --select-border: Select border style.
	 * @prop --select-border-radius: Select border radius.
	 */
	--select-max-height: auto;
	--select-background-color: #{kv-color('neutral-7')};
	--select-border: 1px solid #{kv-color('neutral-6')};
	--select-border-radius: #{$spacing};
}

.select-container {
	// TODO: need to change when this component is styled to light mode
	@include kelvin-night-scrollbar();

	border: var(--select-border);
	border-radius: var(--select-border-radius);
	overflow: hidden;
	background-color: var(--select-background-color);
}

.select-options-container {
	padding: $spacing-3x 0;
	max-height: var(--select-max-height);
	overflow-y: auto;
}

.select-header-container {
	display: flex;
	flex-direction: column;
	gap: $spacing-3x;
	padding: $spacing-3x $spacing-4x;
	border-bottom: var(--select-border);
}

.search-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.footer-actions {
		@include kv-font-label-small-regular;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: calc($spacing-4x + 1px);
		color: kv-color('neutral-4');
	}

	.action {
		user-select: none;
		cursor: pointer;
		position: relative;

		&--disabled {
			pointer-events: none;
			color: kv-color('neutral-5');
		}

		&:not(:last-of-type)::after {
			content: '';
			top: 0;
			right: calc(-1 * $spacing-2x - 1px);
			position: absolute;
			height: 18px;
			width: 1px;
			background-color: kv-color('neutral-5');
		}
	}
}
